[$link.absolute('jcli')|JCli]
&gt;

=About JCli

==History and background

Initially, JCli was part of
[$link.absoute('jmxterm')|Jmxterm] project. During time, the command
line parsing logic is gradually decoupled and now becomes an independent
library that can easily fit in other command line parsing scenarios.

JCli project is still in her early stage. Please feel free to share your
ideas. And if you plan to use JCli in your project please let me know.

==What makes it different

Today, there are more than enough command line
argument tools for Java in open source world out there. To make a
decision even more difficult, JCli distincts from others for following
reasons, despite whether they matter or not:

* Option definition is
totally driven by Java annotation
* Field conversion rules, if there are
any, is also driven by Java annotation
* Support multi-value option
painlessly

==JCli in Maven repository

JCli is availalble in central Maven
repository. To add JCli as a dependency in your project, include
following segment in pom.xml.

##<![CDATA[
  ...
  <dependency>
    <groupId>org.cyclopsgroup</groupId>
    <artifactId>jcli</artifactId>
    <version>A_VERSION</version>
  </dependency>
  ...
##]]>

You may find out what versions are available from the repository
[http://repo1.maven.org/maven2/org/cyclopsgroup/jcli|here].

