<h2>Set Diet Standards</h2>
<table width="100%">
	<tr>
		<td colspan="4" class="title">Enter query criterion</td>
	</tr>
	<form method="get" action="$link.setPage("health,adm,Settings.vm")">
	<tr>
		<td>Gender:</td>
		<td>
			<select name="is_female">
				<option value="false">Male</option>
				<option value="true">Female</option>
			</select>
		</td>
		<td>Age:</td>
		<td><input type="text" size="4" name="age"/></td>
	</tr>
	<tr>
		<td>Height:</td>
		<td><input type="text" name="height" size="5"/> CM</td>
		<td>Weight:</td>
		<td><input type="text" name="weight" size="8"/>Pounds</td>
	</tr>
	<tr>
		<td colspan="4" class="bottom">
			<input type="submit" value="Refresh"/>
		</td>
	</tr>
	</form>
</table>