<h2>Set Diet Standards</h2>
<table width="100%">
	<tr>
		<td colspan="4" class="title">Enter query criterion</td>
	</tr>
	<form method="get" action="$link.setPage("health,adm,Settings.vm")">
	<tr>
		<td>Gender:</td>
		<td>
			<select name="is_female">
				<option value="false">Male</option>
				<option value="true">Female</option>
			</select>
		</td>
		<td>Age:</td>
		<td><input type="text" size="4" name="age"/></td>
	</tr>
	<tr>
		<td>Height:</td>
		<td><input type="text" name="height" size="5"/> CM</td>
		<td>Weight:</td>
		<td><input type="text" name="weight" size="8"/>Pounds</td>
	</tr>
	<tr>
		<td colspan="4" class="bottom">
			<input type="submit" value="Refresh"/>
		</td>
	</tr>
	</form>
</table>
<br/>
<table width="100%">
	<tr>
		<th>Selected</th>
		<th>Age</th>
		<th>Height(CM)</th>
		<th>Weight(Pound)</th>
		<th>Calorie</th>
	</tr>
	#set($weight = 120)
	#foreach($i in [1..6])
		#set($weightEnd = $weight + 10)
		<tr #xbgcolor()>
			<td><input type="checkbox"/></td>
			<td>20~25</td>
			<td>170~180</td>
			<td>${weight}~${weightEnd}</td>
			<td><input type="text" size="8" value="1000"/></td>
		</tr>
		#set($weight = $weightEnd)
	#end
	<tr>
		<td colspan="5" class="bottom">
			<input type="submit" value="Save Changes"/>
			<input type="submit" value="Delete"/>
		</td>
	</tr>
</table>