<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
    <head>
        <title>$page.title - $page.description</title>
        <link rel="stylesheet" type="text/css"
            href="${request.contextPath}/css/screen.css" media="screen" />
        <link rel="stylesheet" type="text/css"
            href="${request.contextPath}/css/print.css" media="print" />
    </head>
    <body>
        <div id="documentWrapper">
            <div id="documentContent">
                <div id="headerWrapper" class="contentWrapper">
                    <div id="headerContent" class="contentBody">
                        <div id="headerLeft">
                            <h2>Local Calendar Service</h2>
                        </div>
                        <div id="headerRight">
                            Home | Search | Service | About
                        </div>
                        <div class="clear" />
                    </div>
                </div>
                <div id="bodyWrapper" class="contentWrapper">
                    <div id="bodyContent" class="contentBody">
                        $renderer.render($page)
                    </div>
                    <div class="clear" />
                </div>
                <div id="footerWrapper" class="contentWrapper">
                    <div id="footerContent" class="contentBody">
                        <p>Generated by default layout!</p>
                    </div>
                    <div class="clear" />
                </div>
            </div>
        </div>
    </body>
</html>