<h2>Change Password</h2>
<table width="100%">
	<form method="post" action="$link.setAction("system.administration.UserAction").setPage("system,administration,user,ChangePassword.vm")">
	<tr>
		<td colspan="2" class="title">Change Password</td>
	</tr>
	<tr>
		<td>User Name:</td>
		<td><input type="text" size="30" name="user_name" value="$!userName"/></td>
	</tr>
	<tr>
		<td>New Password:</td>
		<td><input type="password" size="30" name="new_password"/></td>
	</tr>
	<tr>
		<td>Confirmed Password:</td>
		<td><input type="password" size="30" name="confirmed_password"/></td>
	</tr>
	<tr>
		<td>&#32;</td>
		<td>Reinput new password. Two password must be identical to make effect.</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" value="Change" name="eventsubmit_doChangepwd"/>
		</td>
	</tr>
	</form>
</table>