<h2>Search Users</h2>
<table width="100%">
	<form method="get" action="$link.setPage("system,administration,user,Search.vm")">
	<tr>
		<td class="title" colspan="2">Search Hint</td>
	</tr>
	<tr>
		<td>Name:</td>
		<td><input type="text" name="user_name" value="$!userName"/></td>
	</tr>
	<tr>
		<td>Keyword:</td>
		<td><input type="text" name="keyword" size="0" value="$!keyword"/></td>
	</tr>
	<tr>
		<td>Including Deleted?</td>
		<td><input type="checkbox" name="including_deleted" value="true"#if($includingDeleted) checked="checked" #end/></td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" value="Search"/>
		</td>
	</tr>
	</form>
</table>
#if($users && !$users.isEmpty())
    <table width="100%" class="frame">
    	<tr>
    		<td colspan="7" class="title">Search Result</td>
    	</tr>
		<tr>
			<th>Account Name</th>
			<th>Full Name</th>
			<th>Email</th>
			<th>Deleted</th>
			<th>Change Password</th>
			<th>Groups</th>
			<th>Permission and Roles</th>
		</tr>
		#foreach($user in $users)
			<tr #xbgcolor()>
				<td><a href="$link.setPage("system,administration,user,UserProfile.vm").addPathInfo("user_name", $user.userName)" title="Profile">$user.userName</a></td>
				<td>$user.fullName</td>
				<td>$user.email</td>
				<td>$user.isDisabled</td>
				<td><a href="$link.setPage("system,administration,user,ChangePassword.vm").addPathInfo("user_name", $user.userName)" title="Change Password">GO</a></td>
				<td><a href="$link.setPage("system,administration,user,Groups.vm").addPathInfo("user_name", $user.userName)" title="Change Groups">GO</a></td>
				<td><a href="$link.setPage("system,administration,user,Permissions.vm").addPathInfo("user_name", $user.userName)" title="Permission and Roles">GO</a></td>
			</tr>
		#end
	</table>
#end 