body {
	background-color: white;
	color: #878486;
}

h2 {
	color: #C2D18F;
}

a:link,a:visited {
	color: #AC877C;
}

#bodyWrapper {
	background-color: white;
	max-width: 860px;
}

#bannerPanel {
	background-color: #466D36;
	color: white;
	border-width: 0 0 2 0;
	border-style: solid;
	border-color: #969799;
}

#leftPanel {
	background-color: #E6ECB9;
	padding: 5px;
}

#bodyPanel {
	background-color: white;
}

#bodyPanel .waterviewWindow .waterviewWindowTitle {
	color: #939587;
}

.bannerPanelBelt {
	background-color: #969799;
}

.bannerPanelBelt a,.bannerPanelBelt td,.waterviewSelectedTab a,.waterviewUnselectedTab a
	{
	color: white;
}

table.waterviewTable th {
	background-color: #F0EEDE;
	color: black;
	border-style: solid;
	border-color: #CDCABB;
	border-width: 1px;
}

table.waterviewTable tr.b {
	background-color: #F7F7F7;
}

table.waterviewTable .title {
	background-color: #EEEEEE;
}

table.waterviewTable td.input {
	
}

.lineBreak,.subLineBreak {
	background-color: #969799;
}

.waterviewSelectedTab {
	padding: 3 20 3 20;
	background-color: #969799;
}

.waterviewUnselectedTab {
	padding: 3 20 3 20;
}

.waterviewWindow {
	background-color: #F2F5D9;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B682;
}

.waterviewWindowShadow {
	background-color: #C9CEA2;
}

.waterviewWindow .waterviewWindowHeader {
	background-color: #F0F5C4;
}

.waterviewWindow .waterviewWindowTitle {
	color: #939587;
}

.waterviewWindowBody {
	background-color: #F4F7E0;
}

#bodyPanel .waterviewWindow {
	background-color: white;
	border-width: 0px;
}

#bodyPanel .waterviewWindowBody {
	background-color: white;
}

#bodyPanel .waterviewWindow .waterviewWindowHeader {
	background-color: white;
	border-width: 0 0 2 0;
	border-color: #939587;
	border-style: solid;;
	border-width: 0 0 2 0;
}

input.waterviewFormButton {
	background-color: #78787A;
	border-color: #78787A;
	border-width: 2px;
	border-style: outset;
	color: white;
	font-weight: bold;;
}

input.waterviewFormInput {
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

input.waterviewFormInvalidInput {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}