
#set($layoutTemplate="layout/single_column_layout.vm")

=CYM2

Despite the
mystic project name, which doesn't actually mean anything, CYM2 is a
small set of Maven extensions that I have developed during time.

All
these extensions released to central
[http://repo1.maven.org/maven2/org/cyclopsgroup/|Maven&nbsp;repository].

Find source code in [https://github.com/jiaqi/cym2|Github].

==awss3, AWS S3 Maven wagon

This extension allows user to upload artifact
or generated Maven site to Amazon S3. There are other open source
projects out there for the same purpose, but at the time I was looking
for such extension, none of the existing providers upload Maven site
correctly, they all seem to target artifact upload. And surprisingly,
none of them is implemented with AWS Java SDK, thus complicated.

The CYM2
version of AWS S2 wagon takes advantage of AWS Java SDK, has literally
nothing but two short classes and does everything I need. It works well
for all my other open source projects so far so I can't see a reason not
to open source it.

<p>
    <a
        href="http://blog.cyclopsgroup.org/2011/06/publish-maven-site-with-amazon-s3-and.html">
        Check out this blog to learn a little bit more.
    </a>
</p>

==flatsite - Maven Flatsite Plugin

Flatsite is a Maven plugin that
generates site using customized Velocity template. This plugin gives
user full control of template and allows to create arbitrary structure
of website. As a trade off, it can't be used to generate standard Maven
reports.

==uberjar - Maven uberjar Plugin

This plugin was created long
time ago to build [http://classworlds.codehaus.org/uberjar.html|uberjar]
artifact easily. However the same result can be achieved decently with
Maven Assembly Plugin so I haven't touched it for a while.

==s3upload - Maven s3upload Plugin

A plugin that uploads arbitrary files in project to
AWS S3. I often upload website static contents to CloudFront with this
plugin.