<div>
    <h2>About the foundation</h2>
    <p>
        Cyclops Group software foundation is started late in 2002 for
        collecting side ideas popped up during work. Please send email
        to
        <a href="mailto:cyclopsgroup@gmail.com">
            cyclopsgroup@gmail.com
        </a>
        or
        <a
            href="http://groups.google.com/group/cyclopsgroup-discussion/subscribe">
            join our discussion group
        </a>
        to share your ideas .
    </p>
</div>