<div>
    <h2>Release and Downloads</h2>
    <p>
        All file release and downloads are managed by sourceforge.net,
        <a
            href="http://sourceforge.net/project/showfiles.php?group_id=91358">
            http://sourceforge.net/project/showfiles.php?group_id=91358
        </a>
    </p>
    <script type="text/javascript"
        src="http://p3k.org/rss/proxy.r?frameColor=%23ffffff&amp;textColor=black&amp;_=1216179846268&amp;titleBarColor=%2399ccff&amp;compact=&amp;fontFace=&amp;align=&amp;showXmlButton=&amp;maxItems=20&amp;boxFillColor=white&amp;titleBarTextColor=black&amp;width=710&amp;url=http%3A%2F%2Ffeeds.feedburner.com%2Fcyclopsgroup%2Ffilerelease&amp;">
    </script>
</div>