<div>
    <h2>Latest news</h2>
    <script type="text/javascript"
        src="http://p3k.org/rss/proxy.r?frameColor=%23ffffff&amp;textColor=black&amp;_=1216179697184&amp;titleBarColor=%2399ccff&amp;compact=&amp;fontFace=&amp;align=&amp;showXmlButton=&amp;maxItems=20&amp;boxFillColor=white&amp;titleBarTextColor=black&amp;width=710&amp;url=http%3A%2F%2Ffeeds.feedburner.com%2Fcyclopsgroup%2Fnews&amp;">
    </script>
</div>