<div>
    <h2>People</h2>
    <p>
        A successful project requires many people to play many roles.
        Some members write code or documentation, while others are
        valuable as testers, submitting patches and suggestions.
        Following people has directly made contributions to projects in
        CyclopsGroup.org in past.
    </p>
    <table class="bodyTable" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr class="a">
                <td>
                    <a href="members/jiaqi/index.html">jiaqi</a>
                </td>
                <td>Jiaqi Guo</td>
                <td>
                    <a href="mailto:jiaqi.guo@gmail.com">
                        jiaqi.guo@gmail.com
                    </a>
                </td>
                <td>
                    <a href="members/jiaqi/index.html">home</a>
                    ,
                    <a href="http://www.flickr.com/people/guojiaqi/">
                        flickr
                    </a>
                </td>
            </tr>
            <tr class="b">
                <td>
                    <a
                        href="http://www.business.nd.edu/faculty/faculty_bio_dmpage.cfm?who=xzhao1">
                        xuying
                    </a>
                </td>
                <td>Xuying Zhao</td>
                <td>
                    <a href="mailto:xuyingzhao@gmail.com">
                        xuyingzhao@gmail.com
                    </a>
                </td>
                <td>
                    <a
                        href="http://www.business.nd.edu/faculty/faculty_bio_dmpage.cfm?who=xzhao1">
                        bio
                    </a>
                </td>
            </tr>
            <tr class="a">
                <td>
                    <a href="http://chinajoeblack.spaces.live.com">
                        crazytmac
                    </a>
                </td>
                <td>Crazy TMac</td>
                <td>
                    <a href="mailto:crazytmac@gmail.com">
                        crazytmac@gmail.com
                    </a>
                </td>
                <td>
                    <a href="http://crazytmac.deviantart.com/">
                        deviantart
                    </a>
                </td>
            </tr>
            <tr class="b">
                <td>chrismenken</td>
                <td>Chris Menken</td>
                <td>
                    <a href="mailto:cpm022000@utdallas.edu">
                        cpm022000@utdallas.edu
                    </a>
                </td>
                <td />
            </tr>
            <tr class="a">
                <td>javiscline</td>
                <td>Javis Cline</td>
                <td>
                    <a href="mailto:jrc032000@utdallas.edu">
                        jrc032000@utdallas.edu
                    </a>
                </td>
                <td />
            </tr>
            <tr class="b">
                <td>jchristin</td>
                <td>John Christin</td>
                <td>
                    <a href="mailto:jchristin@gmail.com">
                        jchristin@gmail.com
                    </a>
                </td>
                <td />
            </tr>
            <tr class="a">
                <td>joshallen</td>
                <td>Josh Allen</td>
                <td>
                    <a href="mailto:hoopsjosh@gmail.com">
                        hoopsjosh@gmail.com
                    </a>
                </td>
                <td />
            </tr>
        </tbody>
    </table>
</div>