body {
	background-color: white;
	color: #404040;
}

#bodyWrapper {
	background-color: white;
}

#bannerPanel {
	background-color: #4189D5;
	color: white;
}

table.waterviewTable th {
	background-color: #4189DE;
	color: white;
	border-width: 2px;
	border-style: outset;
	border-color: #4189DE;
}

table.waterviewTable tr.b {
	background-color: #E6F4FF;
}

.lineBreak {
	background-color: #2662B9;
}

.waterviewSelectedTab {
	padding: 2 16 2 16;
	background-color: #2662B9;
}

.waterviewUnselectedTab {
	padding: 2 16 2 16;
}

.waterviewViewWrapper {
	background-color: #80C9FF;
}

.waterviewViewWrapper .waterviewViewTitle {
	color: white;
}

.waterviewViewBody {
	background-color: white;
}

#leftPanel {
	background-color: #EEEEEE;
}

#bodyPanel .waterviewViewWrapper {
	background-color: white;
}

#bodyPanel .waterviewViewWrapper .waterviewViewHeader {
	border-width: 0 0 2 0;
	border-color: #0B73DB;
	border-style: solid;
}

#bodyPanel .waterviewViewWrapper .waterviewViewTitle {
	color: #0B73DB;
}

input.waterviewFormButton {
	background-color: #295DB4;
	border-color: #295DB4;
	color: white;
	font-weight: bold;
}

input.waterviewFormInput {
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

input.waterviewFormInvalidInput {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}