body {
	background-color: #80A2FF;
}

#bodyWrapper {
	background-color: white;
}

table.waterviewTable th {
	background-color: #6079BF;
	color: white;
}

table.waterviewTable tr.b {
	background-color: #E6ECFF;
}

.lineBreak {
	background-color: #6079BF;
}