@import url(./base.css);

body {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {
	color: #0d488e;
	font-weight: normal;
}

.underlined {
	border-width: 0px 0px 2px 0px;
	border-style: dashed;
	border-color: #ccc;
}

a {
	color: #e5690d;
}

.reverse {
    background: #0b0803;
	color: white;
}

.reverse h1, .reverse h2, .reverse h3 {
	color: #729fcf;
	font-weight: bold;
}

#documentWrapper {
    text-align: center;
    background: white url(../images/bg.png) repeat-y center;
}

#documentContent {
    width: 940px;
    margin: 0px auto;
    text-align: left;
    background: white url('../images/home_bg.jpg') no-repeat;
}

#contentHeaderTable td{
	padding: 10px;
}

#contentBody {

}

#contentFooter {
	padding: 10px 10px 50px 10px;
}