<div>
    <h2>Release and Downloads</h2>
    <p>
        All file release and downloads are managed by sourceforge.net,
        <a href="http://sourceforge.net/project/showfiles.php?group_id=91358">
            http://sourceforge.net/project/showfiles.php?group_id=91358
        </a>
        ,
        <a
            href="http://sourceforge.net/export/rss2_projfiles.php?group_id=91358">
            RSS
        </a>
        .
    </p>
    <script language="javascript">
        transformXml("http://sourceforge.net/export/rss2_projfiles.php?group_id=91358",
        "http://www.cyclopsgroup.org/displayrsstable.xslt");
    </script>
</div>