<div>
    <h2>Release and Downloads</h2>
    <p>
        All file release and downloads are managed by sourceforge.net,
        <a href="http://sourceforge.net/project/showfiles.php?group_id=91358">
            http://sourceforge.net/project/showfiles.php?group_id=91358
        </a>
        ,
        <a
            href="http://sourceforge.net/export/rss2_projfiles.php?group_id=91358">
            RSS
        </a>
        .
    </p>
    <![CDATA[
    #set($rss=$xmltool.parseUrl("http://sourceforge.net/export/rss2_projfiles.php?group_id=91358"))
    #set($items=$rss.selectNodes("//channel/item"))
    #set($trclass="a")
    ]]>
    <table class="bodyTable" widht="100%">
        <thead>
            <th>Publish Date</th>
            <th>Title</th>
            <th>Download</th>
        </thead>
        <tbody>
            #foreach($item in $items)
            <![CDATA[
                #if($trclass=="a")
                    #set($trclass="b")
                #else
                    #set($trclass="a")
                #end
            ]]>
            <tr class="$trclass">
                <td>
                    <small>$item.elementText("pubDate")</small>
                </td>
                <td>$item.elementText("title")</td>
                <td>
                    <a href="$item.elementText('link')">
                        <img src="images/archive.png" alt="Download" />
                    </a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>