<div>
    <h2>What is CyclopsGroup.org</h2>
    <p>
        The goal of Cyclops Group is to contribute simple software to the open
        source. Cyclops Group is an open source software foundation focusing on
        common, abstract, simple and high quality java software that solves
        complex problems in the real world.
    </p>
    <p>
        In a spontaneously evolved software world, open source is the power of
        evolution. We believe that the most innovative solution for real
        business problem can only be created in free open envrionment.
    </p>
    <h2>Latest news</h2>
    <script language="javascript">
        transformXml("http://sourceforge.net/export/rss2_projnews.php?group_id=91358",
        "http://www.cyclopsgroup.org/displayrss.xslt");
    </script>
    <p>
        <a
            href="http://sourceforge.net/export/rss2_projnews.php?group_id=91358">
            RSS
        </a>
        ,
        <a href="news.html">More details...</a>
    </p>
    <h2>Recent code changes</h2>
    <script language="javascript">
        transformXml("http://feeds.feedburner.com/Cyclopsgroup-changelogGoogleGroup",
        "http://www.cyclopsgroup.org/displayrss.xslt");
    </script>
    <p>
        <a
            href="http://feeds.feedburner.com/Cyclopsgroup-changelogGoogleGroup">
            RSS
        </a>
        ,
        <a href="http://groups.google.com/group/cyclopsgroup-changelog">
            More details...
        </a>
    </p>
    <h2>References</h2>
    <ul>
        <li>
            <a href="http://fisheye3.cenqua.com/viewrep/cyclops-group/">
                Browse source repository
            </a>
        </li>
        <li>
            <a href="http://sourceforge.net/projects/cyclops-group">
                CyclopsGroup sourceforge project summary
            </a>
        </li>
        <li>
            <a href="members/jiaqi/index.html">Jiaqi's home page</a>
        </li>
        <li>
            <a href="http://utdallas.edu/~xuying.zhao">Xuying's home page</a>
        </li>
        <li>
            <a href="http://spaces.msn.com/chinajoeblack">
                Crazy TMac's personal blog
            </a>
        </li>
    </ul>
</div>