<div>
    <h2>Latest news</h2>
    <p>
        All news are broadcast through SourceForge.net,
        <a
            href="http://sourceforge.net/export/rss2_projnews.php?group_id=91358">
            RSS
        </a>
        .
    </p>
    <script language="javascript">
        transformXml("http://sourceforge.net/export/rss2_projnews.php?group_id=91358",
        "http://www.cyclopsgroup.org/displayrssdetail.xslt");
    </script>
</div>