<div>
    <h2>Members</h2>
    <table class="bodyTable" width="100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>
                <a href="members/jiaqi/index.html">jiaqi</a>
            </td>
            <td>Jiaqi Guo</td>
            <td>
                <a href="mailto:jiaqi.guo@gmail.com">jiaqi.guo@gmail.com</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://utd.edu/~xuying.zhao">xuying</a>
            </td>
            <td>Xuying Zhao</td>
            <td>
                <a href="mailto:xuyingzhao@gmail.com">xuyingzhao@gmail.com</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://chinajoeblack.spaces.live.com">crazytmac</a>
            </td>
            <td>Crazy TMac</td>
            <td>
                <a href="mailto:crazytmac@gmail.com">crazytmac@gmail.com</a>
            </td>
        </tr>
    </table>
    <h2>Contributors</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </table>
</div>