<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#003366">
	<tr>
		<td width="50%">#spacer(1 1)</td>
		<td width="15%">#spacer(1 1)</td>
		<td width="35%">#spacer(1 1)</td>
	</tr>
	<tr>
	<tr>
		<td rowspan="2"><img src="$content.getURI("images/logo.gif")"/></td>
		<td align="right" colspan="2"><img src="$content.getURI("images/banner_right.gif")"/></td>
	</tr>
	<tr>
		<td bgcolor="#003366" align="right"><img src="$content.getURI("images/banner_corner.gif")"/></td>
		<td bgcolor="#D1DBE4" width="35%" align="center" rowspan="2">
			<table cellspacing="5">
				<form method="get" action="$link.setPage("PreBrowse.vm")">
				<input type="hidden" name="category_path" value="/"/>
				<tr>
					<td><input type="text" name="keyword" size="10"/></td>
					<td><select name="root_id">
							<option value="-1" selected="selected">All</option>
							#foreach($root in $a4trim.rootCategories)
								<option value="$root.categoryId">#$root.categoryCode</option>
							#end
					</select></td>
					<td><input type="image" src="$content.getURI("images/icon24/search.gif")" alt="Search Product"/></td>
				</tr>
				</form>
			</table>
		</td>
	</tr>
	<tr>
		<td background="$content.getURI("images/banner_bg.gif")" colspan="2">&nbsp;</td>
	</tr>
</table>