<?xml version="1.0" encoding="UTF-8"?>
<Server port="7005" shutdown="SHUTDOWN" debug="0">
    <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" debug="0" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" debug="0" />
    <GlobalNamingResources>
        <Environment name="simpleValue" type="java.lang.Integer" value="30" />
        <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase"
            description="User database that can be updated and saved">
        </Resource>
        <ResourceParams name="UserDatabase">
            <parameter>
                <name>factory</name>
                <value>org.apache.catalina.users.MemoryUserDatabaseFactory</value>
            </parameter>
            <parameter>
                <name>pathname</name>
                <value>conf/tomcat-users.xml</value>
            </parameter>
        </ResourceParams>
    </GlobalNamingResources>
    <Service name="Tomcat-Standalone">
        <Connector className="org.apache.coyote.tomcat4.CoyoteConnector" port="7080" minProcessors="5"
            maxProcessors="75" enableLookups="true" redirectPort="8443" acceptCount="100" debug="0"
            connectionTimeout="20000" useURIValidationHack="false" disableUploadTimeout="true" />
        <!--
            <Connector className="org.apache.ajp.tomcat4.Ajp13Connector" port="8009" minProcessors="5" maxProcessors="75"
            acceptCount="10" debug="0" />
        -->
        <Engine name="Standalone" defaultHost="localhost" debug="0">
            <Logger className="org.apache.catalina.logger.FileLogger" prefix="catalina_log." suffix=".txt"
                timestamp="true" />
            <Realm className="org.apache.catalina.realm.UserDatabaseRealm" debug="0" resourceName="UserDatabase" />
            <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="true">
                <Logger className="org.apache.catalina.logger.FileLogger" directory="logs" prefix="localhost_log."
                    suffix=".txt" timestamp="true" />
                <Context path="" docBase="ROOT" debug="0" />
            </Host>
        </Engine>
    </Service>
</Server>
