<div>
    <div id="bodyLeft">
        <h2>Add new Event</h2>
        <p>Start add a new event that you know. Step 1, describe event.</p>
        <form method="post" action="${request.contextPath}/adding_event.do">
            <table>
                <tr>
                    <td>Title</td>
                    <td>
                        <input type="text" size="60" name="title" />
                    </td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>
                        <input type="text" size="60" name="keywords" />
                    </td>
                </tr>
                <tr>
                    <td>Detail</td>
                    <td>
                        <textarea cols="45" rows="5" name="detail" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Next" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="bodyRight">
        $renderer.render("/_layout_/home_links.vm")
    </div>
</div>