<div>
    <div id="bodyLeft">
        <h2>Welcom to Eventine.com</h2>
        <p>Eventine.com is bla bla bla</p>
    </div>
    <div id="bodyRight">
        $renderer.render("/_layout_/home_links.vm")
    </div>
</div>