<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
    <head>
        <title>$!page_title</title>
        <link rel="stylesheet" type="text/css" media="screen"
            href="$link.contextURL/style/document-screen.css" />
    </head>
    <body>
        <div id="documentWrapper">
            <div id="documentContent">
                <div id="contentBanner">
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td>
                                <h2>Spaces</h2>
                            </td>
                            <td align="right" valign="top">
                                login | join | search | help &nbsp;
                            </td>
                        </tr>
                    </table>
                    <div id="contentBannerLinks">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td class="contentBannerLinkCell">&nbsp;</td>
                                <td class="contentBannerLinkCell"
                                    id="selectedBannerLinkCell">
                                    Home
                                </td>
                                <td class="contentBannerLinkCell">My Pages</td>
                                <td class="contentBannerLinkCell">Groups</td>
                                <td class="contentBannerLinkCell">About</td>
                            </tr>
                        </table>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div id="contentBody">
                    <div id="bodyNavigator">
                        <div class="sideBar">
                            <div class="sideBarBanner">Home</div>
                            <div class="sideBarContent">
                                <div class="sideBarItem">What's new</div>
                                <div class="sideBarItem">Hot spaces</div>
                                <div class="sideBarItem">Hot groups</div>
                                <div class="siteBarItem">Join</div>
                            </div>
                        </div>
                    </div>
                    <div id="bodyMain">$screen_content</div>
                </div>
                <div id="contentFooter">Copyrights</div>
            </div>
        </div>
    </body>
</html>