<div>
	<div id="sideContent">
		<h2>Links</h2>
		<ul>
			<li>
				<a href="http://www.linkedin.com/in/jiaqi">
					<img src="http://static01.linkedin.com/img/logos/logo_82x23.png"
						border="0" alt="Profile in LinkedIn" />
				</a>
			</li>
		</ul>
	</div>
	<div id="mainContent">
		<h2>Resume</h2>
		<p>To be honest, I absolutely don't have any possibly useful
			experience. </p>
		<p>The only thing I've been happily paid to do in last decade, is to
			design and build large complicated and resource consuming software,
			that runs on expensive and faulty hardware, to fulfill simple and
			cheap tasks.</p>
		<p>&nbsp;
		</p>
		<p>
			<img src="http://farm1.static.flickr.com/48/136980349_95f362bfbd_o.jpg"
				alt="Will code HTML for food" />
		</p>
	</div>
</div>