
#set($wikiSyntaxDisabled=true)
#set($layoutTemplate="layout/home_layout.vm")
<div id="document-heading">
    <div class="container">
        <div class="jumbotron">
            <p>
                <a href="http://www.cyclopsgroup.org">CyclopsGroup.org</a>
                hosts a number of small, high-quality Java open source
                projects that strive to be simple, abstract and useful,
                which we believe can only come out from a free, public
                open
                source development environment.
            </p>
            <p>
                In this wiki site you'll find technical documents of all
                open
                source projects in CyclopsGroup.org.
        </p>
        </div>
    </div>
</div>
<div id="document-body">
    <div class="container" role="main">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    <a href="$link.absolute('datamung')">
                        Datamung
                </a>
                </h2>
                <p>
                    AWS based web application that backs up MySQL RDS
                    instance by launching EC2 instance, database
                    replication
                    and running mysqldump command on EC2
                    instance against
                    replication. Datamung was honoured
                    as one of ten winners
                    of
                    <a
                        href="http://techblog.netflix.com/2013/11/netflix-open-source-software-cloud.html">
                        Netflix 2013 OSS cloud prize
                </a>
                    for best datastore
                    integration.
                </p>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="$link.absolute('jmxterm')">Jmxterm</a>
                </h2>
                <p>
                    Interactive command line JMX client in Java. It
                    supports
                    command history browsing, auto completion
                    and connection
                    to local PID, etc.
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>
                    <a href="$link.absolute('jcli')">
                        JCli
                </a>
                </h2>
                <p>
                    Annotation based command line parser that powers up
                    <a href="$link.absolute('jmxterm')">Jmxterm</a>
                </p>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="$link.absolute('caff')">
                        Caff
                </a>
                </h2>
                <p>
                    Java conversion and formatting framework. A library
                    for
                    string conversion, parsing, formatting in Java.
                    Part of
                    it supports parsing and formatting of CSV and
                    fixed
                    length format.
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>
                    <a href="$link.absolute('cym2')">
                        CYM2
                </a>
                </h2>
                <p>
                    A couple of Maven plugins and extension to suport
                    other
                    projects. Namely
                    <ul>
                        <li>
                            S3 wagon, wagon that allows to deploy
                            artifact
                            and sites to Amazon S3
                    </li>
                        <li>
                            S3 upload plugin, Maven plugin that uploads
                            arbitrary files in project to Amazon S3
                    </li>
                        <li>
                            Flatsite plugin, a lightweight Maven plugin
                            that
                            generates static website from Apache
                            Velocity
                            layout and templates
                    </li>
                        <li>
                            Uberjar plugin, a Maven plugin that bundles
                            Java
                            project into executable
                            uberjar.
                    </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
