#h2("Add Product Category" "notepad")
<table width="100%">
	<form method="post" action="$link.setAction("CategoryAction").setPage("admin,AddCategory.vm")">
	<input type="hidden" name="category_id" value="$data.parameters.getInt("category_id", -1)"/>
	<input type="hidden" name="parent_id" value="$data.parameters.getInt("category_id", -1)"/>
	<tr>
		<td>Category Code:</td>
		<td>#<input type="text" name="category_code"/></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><textarea name="description" cols="40" rows="3"></textarea></td>
	</tr>
	<tr>
		<td rowspan="2">&nbsp;</td>
		<td>
			<input type="radio" name="close_window" value="true" id="closeWindowRatio" checked="checked"/>
			<label for="closeWindowRatio">Back to category tree after added</label>
		</td>
	</tr>
	<tr>
		<td>
			<input type="radio" name="close_window" value="false" id="doNotCloseRatio"/>
			<label for="doNotCloseRatio">Add another when finished</label>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" name="eventsubmit_doAdd" value="Add" class="button"/>
			<input type="button" value="Cancel" class="button" onclick="location.href='$link.setPage("admin,EditCategory.vm")'"/>
		</td>
	</tr>
	</form>
</table>