#h2("Edit Product Category" "notepad")
<table width="100%">
	<form method="post" action="$link.setAction("CategoryAction").setPage("admin,CategoryDetail.vm")" enctype="application/multi-part">
	<input type="hidden" name="category_id" value="$category.categoryId"/>
	<tr>
		<td>Category Code:</td>
		<td>#$category.categoryCode</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><textarea name="description" cols="50" rows="4">$!category.description</textarea></td>
	</tr>
	#*
	#if($category.thumbnailAvailable)
    	<tr>
    		<td>Image:</td>
    		<td><img src="$content.getURI($category.thumbnailUri)"/></td>
    	</tr>
	#end
	<tr>
		<td>Upload a Image:</td>
	    <td>
			<select name="handle_image" onchange="this.form.upload_image.disabled = (this.selectedIndex != 1);">
				<option value="0" checked>Leave the image unchanged</option>
				<option value="1">Upload a new image</option>
				#if(!$category.thumbnailAvailable) <option value="2">Remove the image if exists</option> #end
			</select>
			<input type="file" name="upload_image" disabled="disabled">
		</td>
	</tr>
	*#
	<tr>
		<td class="bottom" colspan="2"><input type="submit" name="eventsubmit_doSave" value="Save Changes" class="button"/></td>
	</tr>
	</form>
</table>