<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>waterview</servlet-name>
        <servlet-class>
            org.cyclopsgroup.waterview.impl.servlet.WaterviewServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>waterview</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>