#h2("Edit Product" "notepad")
<table width="100%">
	<form method="get" action="$link.setPage("admin,EditProduct.vm")">
	<tr>
		<td>Product Code:</td>
		<td>
			#<input type="text" size="30" name="product_code" value="$!productCode"/>
			<input type="submit" value="Display" class="button"/>
		</td>
	</tr>
	</form>
</table>
#if($productSelected)
	<table width="100%">
    	<form method="post" action="$link.setAction("ProductAction").setPage("admin,EditProduct.vm")" enctype="multipart/form-data">
    	<input type="hidden" name="product_id" value="$product.productId"/>
    	<input type="hidden" name="product_code" value="$product.productCode"/>
    	<tr>
    		<td>Description:</td>
    		<td><textarea name="description" cols="40" rows="5">$!product.description</textarea></td>
    	</tr>
    	#if($product.thumbnailAvailable)
        	<tr>
        		<td>Image:</td>
        		<td><img src="$content.getURI($product.thumbnailUri)"/></td>
        	</tr>
    	#end
    	<tr>
    		<td>Upload a Image:</td>
    		<td>
    			<select name="handle_image" onchange="this.form.upload_image.disabled = (this.selectedIndex != 1);">
    				<option value="0" checked>Leave the image unchanged</option>
    				<option value="1">Upload a new image</option>
    				#if($product.imageAvailable)<option value="2">Remove the image if exists</option>#end
    			</select>
    			<input type="file" name="upload_image" disabled="disabled">
    		</td>
    	</tr>
    	<tr>
    		<td colspan="2" class="bottom">
    			<input type="submit" value="Save changes" class="button" name="eventsubmit_doSave"/>
    			<input type="submit" value="Delete" class="button" name="eventsubmit_doDelete" onclick="return confirm('Are you sure to delete product #$product.productCode?')"/>
    		</td>
    	</tr>
    	</form>
    </table>
    <form method="post" action="$link.setAction("ProductAction").setPage("admin,EditProduct.vm")">
    <input type="hidden" name="product_code" value="$product.productCode"/>
    <input type="hidden" name="product_id" value="$product.productId"/>
    <input type="hidden" name="category_id" value="-1"/>
    <p>Associate product #$product.productCode to category # <input type="text" name="category_code" size="8"/>. <input type="submit" name="eventsubmit_doAssociate" value="Associate" class="button"/><p>
    #if(!$categories.isEmpty())
    <p>Product #$product.productCode is associated to these categories.</p>
    <table width="100%">
    	#foreach($category in $categories)
    	<tr #bgcolor()>
    		<td>#$category.categoryCode</td>
    		<td>$!category.description</td>
    		<td align="right"><input type="submit" name="eventsubmit_doDisassociate" value="Disassociate" class="button" onclick="this.form.category_id.value=$category.categoryId"/></td>
    	</tr>
    	#end
    </table>
    #end
    </form>
#end