<h2>Your Personal Diet Advisor</h2>
<table width="100%">
	<tr>
		<td colspan="4" class="title">User Profile</td>
	</tr>
	<tr>
		<td>User:</td>
		<td>$user.userName</td>
		<td>Age:</td>
		<td>$age</td>
	</tr>
	<tr>
		<td>Height:</td>
		<td>$profile.height</td>
		<td>Weight:</td>
		<td>$profile.weight</td>
	</tr>
	<tr>
		<td colspan="4">You are supposed to consume 1000 carolie</td>
	</tr>
</table>
<br/>
<table width="100%">
	<tr>
		<td colspan="3" class="title">Your diet today</td>
	</tr>
	#foreach($item in $items)
		<tr #xbgcolor()>
			<td>$item.name</td>
			<td>$!item.description</td>
			<td align="right">$item.calorie</td>
		</tr>
	#end
	<tr>
		<td class="bottom" colspan="3">Total Calorie: $totalCalorie</td>
	</tr>
</table>
<p><big>
#if($totalCalorie > 1000)
	#set($dif = $totalCalorie - 100)
	It seems you need more execise today since you consumed $dif calorie more than standard.
#else
	You did pretty good today, keep on!
#end
</big></p>
<table width="100%">
	<tr>
		<td class="bottom">
			<a href="$link.setPage("health,pub,DailyCheck.vm")">Back</a>
		</td>
	</tr>
</table>