<table width="100%" bgcolor="#DDDDDD" cellspacing="1">
    <tr>
        <td bgcolor="#EEEEEE">#heading($link.setPage("Index.vm").addQueryData("root_id", -1).addQueryData("category_path", "/") "Home")</td>
    </tr>
    #foreach($root in $a4trim.rootCategories)
        <tr>
            <td bgcolor="#CCCCFF"><b class="heading">&nbsp;$root.categoryCode</b></td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">#heading($link.setPage("PreBrowse.vm").addQueryData("root_id", $root.categoryId).addQueryData("category_path", "/") "Browse")</td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">#heading($link.setPage("AdvancedSearch.vm").addQueryData("root_id", $root.categoryId) "Search")</td>
        </tr>
    #end
    #if($a4trim.isAdmin)
        <tr>
        	<td bgcolor="#CCCCFF"><b class="heading">&nbsp;Admin</b></td>
        </tr>
        <tr>
        	<td bgcolor="#EEEEEE">#heading($link.setPage("admin,EditCategory.vm") "Edit Product Category")</td>
        </tr>
        <tr>
        	<td bgcolor="#EEEEEE">#heading($link.setPage("admin,AddProduct.vm") "Add Product")</td>
        </tr>
        <tr>
        	<td bgcolor="#EEEEEE">#heading($link.setPage("admin,EditProduct.vm") "Edit Product")</td>
        </tr>
        <tr>
        	<td align="right"><a href="$link.setPage("Admin.vm").addQueryData("switch", "off")"><img src="$content.getURI("images/icon15/up.gif")" border="0"/></a></td>
        </tr>
    #else
    	<script language="javascript">
function adminSignIn() {
	var h = "${link.setPage("Admin.vm").addQueryData("switch", "on")}&password=" + prompt("Input admin password", "");
	location.href = h;
}
    	</script>
        <tr>
        	<td align="right"><img src="$content.getURI("images/icon15/down.gif")" border="0" onclick="adminSignIn()"/></td>
        </tr>
    #end
</table>