<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <import
        resource="classpath:/com/cyclopsgroup/laputa/space/impl/spring/platform-spring-beans.xml" />
    <import
        resource="classpath:/com/cyclopsgroup/laputa/space/impl/spring/spring-beans.xml" />
    <import resource="spring-beans.xml" />

    <bean id="com.cyclopsgroup.laputa.SessionFactory"
        class="com.cyclopsgroup.arapaho.spring.HsqlHibernateSessionFactoryBean">
        <constructor-arg>
            <bean
                class="com.cyclopsgroup.laputa.space.impl.hibernate.SpaceConfiguration" />
        </constructor-arg>
    </bean>
</beans>