body {
	background-color: #BFE4FF;
	color: #0066B3;
}

#bodyWrapper {
	background-color: white;
}

table.waterviewTable th {
	background-color: #6096BF;
	color: white;
	border-width: 1px;
	border-style: outset;
}

table.waterviewTable tr.b {
	background-color: #E6F4FF;
}

.lineBreak {
	background-color: #6096BF;
}

.waterviewSelectedTab {
	padding: 2 16 2 16;
	background-color: #6096BF;
}

.waterviewUnselectedTab {
	padding: 2 16 2 16;
}

.waterviewViewWrapper {
	background-color: #E6F4FF;
}

.waterviewViewBody {
	background-color: white;
}

#bodyPanel .waterviewViewWrapper {
	background-color: #80C9FF;
}

#bodyPanel .waterviewViewWrapper .waterviewViewTitle {
	color: white;
}