<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
    href="${link.contextURL}/style/screen.css" media="screen" />
<link ref="stylesheet" type="text/css"
    href="${link.contextURL}/style/print.css" media="print" />