body {
	 background: #fff;
	 color: #336699;
}

.app h3 {
	 color: black;
	 background-color: white;
	 font-size: 12pt;
}

.app h4 {
	 color: black;
	 background-color: white;
	 font-size: 11pt;
}

.a td {
 	background: #FFFFFF;
}

.b td {
 	background: #F2F7FC;
}

.app th {
	 background-color: #547DAB;
	 color: white;
	 text-indent: 5px;
}

div#banner {
	 border-top: 0px;
	 border-bottom: 1px solid #224466;
}

#banner, #banner td { 
	 background: #224488;
	 color: #fff;
	 padding: 0px;
}

#leftcol {
	 background: #E5EDF5;
	 border-right: 1px solid #D0E1F3;
	 border-bottom: 1px solid #D0E1F3;
	 border-top: none;
}

#navcolumn {
	 background: #E5EDF5;
	 border-right: none;
	 border-bottom: none;
	 border-top: none;
}

#breadcrumbs {
	 background-color: #547DAB;
	 color: #FFFFFF;
	 border-top: none;
	 border-bottom: 1px solid #D0E1F3;
}

#source {
	 background-color: #fff;
	 color: #000;
	 border-right: 1px solid #888; 
	 border-left: 1px solid #888; 
	 border-top: 1px solid #888; 
	 border-bottom: 1px solid #888; 
	 margin-right: 7px;
	 margin-left: 7px;
	 margin-top: 1em;
}

#source pre {
	 margin-right: 7px;
	 margin-left: 7px;
 }

a:link, #navcolumn a:visited, .tasknav a:visited {
	color: #224466;
}
.app a:link, .app a:visited {
    color: #224466;
}
a:active, a:hover, #leftcol a:active, #leftcol a:hover {
	color: #f30 !important;
}

a:link.selfref, a:visited.selfref {
	color: #555 !important;
}

h3, h4 {
	 margin-top: 1em;
	 margin-bottom: 0;
}
 
#breadcrumbs a, #breadcrumbs td {
    color:white !important;
}
#banner td {
    padding: 0px;
}