<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>$title</title>
    <meta name="description" content="$description" />
    <meta name="keywords"
        content="Jiaqi Guo, Java, Open Source, Software, Programming, CyclopsGroup, &#37101;&#20339;&#29734;" />
    <link rel="stylesheet" href="$basedir/css/display.css" media="screen"
        type="text/css" />
    <link rel="stylesheet" href="$basedir/css/print.css" media="print"
        type="text/css" />
    <script type="text/javascript" src="http://www.google-analytics.com/urchin.js">
    </script>
    <script type="text/javascript">
        //<![CDATA[
            _uacct = "UA-76203-1";
            urchinTracker();

            document.onload = function() {};
        //]]>
    </script>
</head>