<![CDATA[
#macro(navigationLink $link $linkTitle)
    #set($href = "$basedir/$link")
    #if($link.startsWith("http"))
      #set($href = $link)
    #end
    #if($link == $htmlPath)
        <div class="navigationLink"
            id="selectedNavigationLink">
            <a href="$href">$linkTitle</a>
        </div>
    #else
        <div class="navigationLink">
            <a href="$href">$linkTitle</a>
        </div>
    #end
#end
]]>
#navigationLink("index.html" "About Me")
#navigationLink("http://blog.cyclopsgroup.org" "Blog")
#navigationLink("resume.html" "Resume")
#navigationLink("photos.html" "Photos")
#navigationLink("forum.html" "Leave Message")