#set($title = "Product Browse")
#if($rootId > 0) #set($title = "$title in #$rootCategory.categoryCode")#end
#h2($title "explore")
<table width="100%" cellpadding="5">
	<tr>
		<td width="38%">#spacer(1 1)</td>
		<td width="62%">#spacer(1 1)</td>
	</tr>
	<tr>
		<td colspan="2">
            #set($page = $pageIndex + 1)
            <table width="100%">
            	<form method="get" action="$link.setPage("Browse.vm")">
            	<tr>
            		<td>
            			<img src="$content.getURI("images/icon24/folders.gif")" align="absbottom"/> /
            			#if($isTop)
							<b>All</b>
						#else
							<a href="$link.setPage("Browse.vm").addQueryData("root_id", -1)">All</a> /
                			#foreach($parent in $parentCategories)
                				<a href="$link.setPage("Browse.vm").addQueryData("root_id", $parent.categoryId)">#$parent.categoryCode</a> /
                			#end
                			<b>#$rootCategory.categoryCode</b>
            			#end
            		</td>
            		<td align="right">
            			$recordCount Products, 
            			#if($page > 1)
            				<a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootId).addQueryData("page_index", 0)">First</a>
            				#set($position = $pageIndex - 1)
            				<a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootId).addQueryData("page_index", $position)">Prev</a>
            			#end
						Page $page of $pageCount
						#if($page < $pageCount)
            				<a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootId).addQueryData("page_index", $page)">Next</a>
            				#set($position = $pageCount - 1)
            				<a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootId).addQueryData("page_index", $position)">Last</a>
            			#end
					</td>
            	</tr>
            	</form>
            </table>
        </td>
    </tr>
#foreach($product in $result)
	<tr>
		<td colspan="2" bgcolor="#eeeeee" style="padding:0px;">#spacer(1 1)</td>
	</tr>
	<tr>
		<td valign="top"><p><a href="$link.setPage("ProductDetail.vm").addQueryData("product_id", $product.productId)"><big><b>#$product.productCode</b></big></a><br/>$!product.description</p></td>
		<td>#if($product.thumbnailAvailable)<a href="$content.getURI($product.imageUri)" target="_blank" title="See the enlarged photo"><img src="$content.getURI($product.thumbnailUri)" border="0"/></a>#else Image not avaliable #end</td>
	</tr>
#end
</table>
<hr/>
#set($columns = 5)
#set($index = 0)
<table width="100%">
	<tr>
		#foreach($i in [1..$columns]) <td>#spacer(1 1)</td>#end
	</tr>
	<tr>
	#if(!$isTop)
		<td valign="top">
            <table>
            	<tr>
            		<td rowspan="2" valign="top"><a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootCategory.parentId)"><img src="$content.getURI("images/icon24/folderup.gif")" border="0"/></a></td>
            		<td nowrap="nowrap"><big><a href="$link.setPage("Browse.vm").addQueryData("root_id", $rootCategory.parentId)"><b>..</b></a></big></td>
            	</tr>
            	<tr>
            		<td>$!category.description</td>
            	</tr>
            </table>
        </td>
        #set($index = 1)
	#end
    #foreach($category in $children)
    	<td valign="top">
            <table>
            	<tr>
            		<td rowspan="2" valign="top"><a href="$link.setPage("Browse.vm").addQueryData("root_id", $category.categoryId)"><img src="$content.getURI("images/icon24/folders.gif")" border="0"/></a></td>
            		<td nowrap="nowrap"><big><a href="$link.setPage("Browse.vm").addQueryData("root_id", $category.categoryId)"><b>#$category.categoryCode</b></a></big></td>
            	</tr>
            	<tr>
            		<td>$!category.description</td>
            	</tr>
            </table>
        </td>
        #set($index = $index + 1)
        #if($index == $columns)
        	#set($index = 0)
        	</tr>
        	<tr>
        #end
    #end
    </tr>
</table>