#h2("Error" "error")
<table width="100%">
	<form method="post">
	<tr>
		<td>Error Message</td>
	</tr>
	<tr>
		<td align="center"><div style="overflow:auto; width:480; height: 240px;"><pre>$data.stackTrace</pre></div></td>
	</tr>
	<tr>
		<td><input type="button" class="button" value="Home" onclick="location.href='$link.setPage("Index.vm")'"/></td>
	</tr>
	</form>
</table>
