<h2>Add Diet Standard</h2>
<table width="100%">
	<tr>
		<td colspan="2" class="title">Input a new diet standard</td>
	</tr>
	<tr>
		<td>Gender:</td>
		<td>
			<select name="is_female">
				<option value="false">Male</option>
				<option value="true">Female</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Age:</td>
		<td>From <input type="text" name="age_from" size="4"> ~ To <input type="text" name="age_from" size="4"></td>
	</tr>
	<tr>
		<td>Height:</td>
		<td>From <input type="text" name="height_from" size="4"> ~ To <input type="text" name="height_from" size="4"> CM</td>
	</tr>
	<tr>
		<td>Weight:</td>
		<td>From <input type="text" name="weight_from" size="4"> ~ To <input type="text" name="weight_from" size="4"> Pounds</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" value="Add Standard"/>
		</td>
	</tr>
</table>