body {
    max-width: 920px;
    margin: 0px auto;
    background-color: #F2F6D5;
    color: #666666;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif, SimSun;
    font-size: smaller;
}

a:link, a:visited {
    color: #87B820;
}

img {
    border-width: 0;
}

h2 {
    text-transform: lowercase;
    font-size: 12pt;
    padding: 6px;
}

#content {
    background-color: white;
}

#main {
    background-color: white;
    float: left;
    width: 80%;
}

#header {
    background: url('header_bg.jpg') no-repeat;
    color: white;
    padding: 6px;
    margin: 6px 6px 0px 6px;
}

#header a {
    color: white;
}

#description {
    font-weight: bold;
}

#sidebar {
    background-color: #ECFE9D;
    margin-left: 80%;
    border-width: 6px 6px 6px 0px;
    border-style: solid;
    border-color: white;
}

.date-header {
    background-color: #DADFBF;
    margin: 6px 6px 0px 6px;
}

.post-title, .post-footer, .post-footer a {
    color: white;
}

.post-title {
    margin: 6px;
}

.post-footer {
    margin: 0px;
    padding: 6px;
}

.post {
    background-color: #8EBD33;
    padding: 6px;
    margin: 6px;
}

.post-body {
    background-color: #C3E086;
    padding: 6px;
}

#comments {
    padding: 6px;
}

#profile-container {
    background-color: #8CBB31;
    color: white;
    padding: 6px;
}

#profile-container .sidebar-title {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
}

#profile-container a {
    color: white;
}

.sidebar-title {
    background-color: #FDAB00;
    color: white;
    margin: 0px;
    border-width: 6px 0px 0px 0px;
    border-style: solid;
    border-color: white;
}

.source {
    border-width: 2px;
    border-style: dashed;
    border-color: white;
    font-size: 10pt;
    margin: 6px;
}