<html>
<head>$renderer.render("navigations", "HtmlHeaders.vm")</head>
</head>
<body bgcolor="#81AAD4">
<table width="100%" border="0" bgcolor="white" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3" bgcolor="#003366">$renderer.render("navigations", "Banner.vm")</td>
    </tr>
    <tr>
        <td width="22%" valign="top" bgcolor="#F9F9F9" style="padding: 10px">$renderer.render("navigations", "NavigationBar.vm")</td>
        <td width="60%" valign="top" style="padding: 10px">
        	#if($template.startsWith("admin/"))
        		#if($a4trim.isAdmin)
        			$renderer.render("screens", $template)
        		#else
        			$renderer.render("screens", "Default.vm")
        		#end 
        	#else
        		$renderer.render("screens", $template)
        	#end
        </td>
        <td width="18%" valign="top" style="padding: 10px">
        	#if($data.message) #h2("" "info")<p><font color="red">$data.message</font></p> #end
        	<p>&nbsp;</p>
        	$renderer.render("navigations", "LinkBar.vm")
        </td>
    </tr>
    <tr>
    	<td colspan="3">$renderer.render("navigations", "Footer.vm")</td>
    </tr>
</table>
</body>