body, p, td {
    font-size: 8pt;
    font-family: Arial;
}
input, select, textarea {
    font-size: 8pt;
    font-family: Courier New;
}
hr {
    background-color: #BCBCB4;
}
h2 {
    color: #7EA4DE;
}
a:link, a:visited {
    text-decoration: underline;
    color: #FFB64E;
}
td.bottom {
	text-align: right;
	background-color: #E0E6F5;
}
input.button {
    font-size: 8pt;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #556C80;
    border-color: #748897;
}
.heading {
    color: #23477F !important;
    text-decoration: none !important;
    font-size: 8pt;
}