@import url(pngfix.css);

.wiki-content h1 {
    font-size: 13pt;
    color: #FF9933;
    background-color: transparent;
    border-color: #C4C4C4;
    border-style: dashed;
    border-width: 0px 0px 2px 0px;
}

.blogpost .blogHeading {
    font-size: 11pt;
}

#PageContentSideBar {
    padding: 0px 10px 0px 10px;
}