@import url(site-base.css);

a:link {
    color: #6699CC;
}

a:visited {
    color: #7987A7;
}

.section h2 {
    color: #FF9934;
    border-color: #C4C4C4;
}

.section h3, .section h4, .section h5 {
    color: #666666;
}

#banner {
    background: url('banner_bg.png');
    border-color: #73A1D6;
    color: white;
}

#breadcrumbs {
    background-color: #1772BD;
    color: white;
}

#breadcrumbs a {
    color: white;
}

#leftColumn {
    background-color: #C4C4C4;
    color: white;
    margin: 20px 0px 0px 0px;
    float: right;
    width: 20%;
}

#navcolumn {
    background: url('side_bar_bg.gif') repeat-y right;
    position: relative;
    top: -3px;
    left: -3px;
}

#leftColumn h5 {
    background-color: #9ABBE2;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

#leftColumn a {
    color: white;
}

#leftColumn #search form {
    padding: 5px;
}

#bodyColumn {
    background-color: white;
    margin-left: 0px;
    width: 75%;
}

#footer {
    border-color: #C4C4C4;
}