@import url(site-base.css);

a:link {
    color: #6699CC;
}

a:visited {
    color: #7987A7;
}

.section h2 {
    color: #FF9934;
    border-color: #C4C4C4;
}

.section h3, .section h4, .section h5 {
    color: #666666;
}

#banner {
    background-color: #1D54A6;
    background-image: url('banner_bg.png');
    background-position: right;
    background-repeat: no-repeat;
    border-color: #73A1D6;
    color: white;
    padding-left: 20px;
}

#breadcrumbs {
    background-color: #1F5195;
    color: white;
}

#breadcrumbs a {
    color: white;
}

#leftColumn {
    background-color: #C4C4C4;
    color: white;
    margin: 20px 2px 2px 0px;
    float: right;
    width: 20%;
}

#navcolumn {
    background: url('side_bar_bg.png') repeat-y right;
    position: relative;
    top: -3px;
    left: -3px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color:  #1F5195;
}

#leftColumn h5 {
    background-color: #9ABBE2;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

#leftColumn a {
    color: #B5D7FF;
    letter-spacing: 2px;
}

#leftColumn a:hover {
    color: white;
}

#leftColumn #search form {
    padding: 5px;
}

#bodyColumn {
    background-color: white;
    margin-left: 0px;
    width: 75%;
}

#footer {
    border-color: #C4C4C4;
}