body {
    max-width: 920px;
    width: expression(document.body.clientWidth > 920 ? "920px" : "auto" );
    font-family: 'Lucida Grande', 'Bitstream Vera Sans', Verdana, Arial,
        Sans-Serif;
    color: #333333;
    background-color: white;
}

h1,h2,h3,h4,h5 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.section h2 {
    background-color: transparent;
    border-width: 0px 0px 2px 0px;
    border-style: dashed;
    border-color: #999999;
    text-transform: uppercase;
    font-weight: normal;
}

.section p,.section .bodyTable {
    font-size:11pt;
}

.section .bodyTable tr.a {
    background-color: #F9F9F9;
}

.section .source {
    border-width: 0px;
    background-color: #CCCCCC;
    padding: 0px;
    margin: 10px 6px 6px 10px;
}

.section .source pre {
    position: relative;
    top: -3px;
    left: -3px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    padding: 8px;
    font-size: 9pt;
}

.section h3, .section h4, .section h5 {
    border-width: 0px;
    background-color: transparent;
}

#banner {
    display: block;
}

#breadcrumbs {
    border-width: 0px;
    padding: 4px;
    display: block;
    letter-spacing: 2px;
}

#leftColumn {
    border-width: 0px;
    //margin: 0px 0px 0px 0px;
    float: left;
    width: 20%;
}

#navcolumn {
    padding: 5px;
}

#leftColumn h5 {
    border-width: 0px;
    text-transform: uppercase;
    font-size: 10pt;
}

#leftColumn li {
    padding: 3px;
    font-size: 8pt;
}

#leftColumn #search a {
    display: none;
}

#leftColumn #search form {
    padding: 5px;
}

#bodyColumn {
    padding: 10px;
}

#footer {
	padding: 10px;
	border-width: 2px 0px 0px 0px;
	border-style: dashed;
	border-color: #666666;
}