<html>
<head>$renderer.render("navigations", "HtmlHeader.vm")</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%">#spacer(1 1)</td>
		<td width="62%">#spacer(1 1)</td>
		<td width="18%">#spacer(1 1)</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#003366">$renderer.render("navigations", "Banner.vm")</td>
	</tr>
	<tr bgcolor="#0064C7" style="padding: 3px;">
		<td>
			<font color="white">Powered by</font>
			<a href="http://cyclops-group.sourceforge.net/projects/tornado"><font color="white">Tornado</font></a></td>
		<td>$renderer.render("navigations", "PathLinks.vm")</td>
		<td>&#32;</td>
	</tr>
	<tr valign="top">
		<td>
			<table width="100%" cellspacing="1" cellpadding="10" bgcolor="CDCDCD">
				<tr>
					<td bgcolor="#DEDEDE">$renderer.render("navigations", "UserBar.vm")</td>
				</tr>
				<tr>
					<td bgcolor="white">$renderer.render("navigations", "MenuBar.vm")</td>
				</tr>
			</table>
		</td>
		<td style="padding: 10px;">$renderer.render("screens", $template)</td>
		<td style="padding: 10px;">$!data.message</td>
	</tr>
	<tr>
		<td colspan="3" align="center">&#32;</td>
	</tr>
</table>
</body>
</html>