<div id="fb-root"></div>
<div id="document-banner">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="$link.absolute('')" class="nav-brand">
                    <img
                        src="$link.absolute('/images/cyclopsgroup-logo.png')" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="$link.absolute('')">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown">
                            Projects
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            #foreach($p in
                            ["Datamung","Jmxterm","JCli","Caff","Cym2"])
                            <li>
                                <a href="$link.absolute($p.toLowerCase())">
                                    $p
                                </a>
                            </li>
                            #end
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown">
                            About
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://www.cyclopsgroup.org">
                                    About CyclopsGroup
                                        </a>
                            </li>
                            <li>
                                <a href="http://www.cloudpave.com">
                                    About Cloudpave
                                        </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>