<?xml version="1.0" encoding="UTF-8"?>
<document>
    <properties>
        <title>Database Schema Report</title>
        <author email="g-cyclops@users.sourceforge.net">Jiaqi Guo</author>
    </properties>
    <body>
        <section name="Database Schemas">
            <table>
                #foreach($model in $dataModels)
                    <tr>
                        <td>$model</td>
                    </tr>
                #end
            </table>
        </section>
    </body>
</document>
