body, td, select, input, li {
	font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
	color: #003366;
}
th {
    background-color: #CCCCFF !important;
    color: #336699 !important;
}
div.section table.bodyTable {
    background-color: #DDDDDD;
}
div.section table.bodyTable tr.a {
    background-color: white;
}
div.section table.bodyTable tr.b {
    background-color: #EEEEEE;
}
a:link, a:visited {
    color: #002266;
}