body,p,td,th,input,select,textarea {
    font-family: Sans, Verdana, Arial;
    font-size: 8pt;
}

body {
    margin: 0px;
}

th {
    text-align: left;
}

a img {
    border-width: 0px;
}

h2 {
    font-size: 16px !important;
    line-height: 100% !important;
}

.lineBreak {
    height: 2px;
    background-color: #EFEFEF;
    padding: 0px;
}

.subLineBreak {
    height: 1px;
    background-color: #EFEFEF;
    padding: 0px;
}

.waterviewPortlet {
    margin: 3px 3px 6px 3px;
}

.waterviewPortletTitle {
    font-weight: bold;
}

.waterviewPortletBody {
    padding: 3px;
}

.r {
    color: white !important;
}

.waterviewSelectedTab,.waterviewUnselectedTab {
    padding: 3px 20px 3px 20px;
}

.waterviewSelectedTab a {
    font-weight: bold;
}

.waterviewTabBody {
    padding: 3px;
}

#leftPanel {
    padding: 3px;
}