<div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <div class="jumbotron">
                <h1 class="underlined">cyclopsgroup.org</h1>
                <p>
                    CyclopsGroup.org is an open source software
                    foundation
                    focusing on abstract, simple and high
                    quality and useful
                    java projects.
                </p>
                <p>
                    We believe that the true innovative solution can only
                    be
                    created from an open and free environment.
                </p>
                <p>
                    <a class="btn btn-lg btn-primary" href="http://wiki.cyclopsgroup.org">
                        Read
                        more &raquo;
                    </a>
                </p>
            </div>
            <p>
                <script async
                    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- CyclopsGroupWikiFooter -->
                <ins class="adsbygoogle"
                    style="display:inline-block;width:468px;height:60px"
                    data-ad-client="ca-pub-4453803635357424"
                    data-ad-slot="2401902631"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle ||
                    []).push({});
                    </script>
            </p>
        </div>
    </div>
    <div class="row reverse">
        <div class="col-lg-4">
            <h3>Documentation</h3>
            <p>
                <a href="http://wiki.cyclopsgroup.org">Find out details in our WIKI site:
                    http://wiki.cyclopsgroup.org
                </a>
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Support</h3>
            <p>
                Bugs and questions are tracked in launchpad.net.
                <a href="http://launchpad.net/~cyclopsgroup">Get support for Jmxterm project</a>
            </p>
            <p>
                <a href="http://launchpad.net/~cyclopsgroup">
                    <img
                        src="https://launchpad.net/@@/launchpad-logo-and-name-hierarchy.png"
                        alt="Jmxterm project in launchpad.net" />
                </a>
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Search</h3>
            <form action="http://www.google.com/search">
                <p>
                    <input type="hidden" name="sitesearch" value="cyclopsgroup.org" />
                    <input type="text" name="q" size="18" />
                    <input type="submit" value="Go" />
                </p>
            </form>
        </div>
    </div>
    <div class="row reverse">
        <div class="col-lg-4">
            <h3>News</h3>
            <script
                src="http://feeds.feedburner.com/cyclopsgroup/news?format=sigpro"
                type="text/javascript"></script>
            <noscript>
                <p>
                    Subscribe to RSS headline updates from:
                    <a href="http://feeds.feedburner.com/cyclopsgroup/news"></a>
                    <br />
                    Powered by FeedBurner
                </p>
            </noscript>
        </div>
        <div class="col-lg-4">
            <h3>Projects</h3>
            <ul>
                <li>
                    <a href="projects/datamung">Datamung, AWS RDS backup service</a>
                </li>
                <li>
                    <a href="projects/jmxterm">Jmxterm command line JMX client</a>
                </li>
                <li>
                    <a href="projects/jcli">JCli command line parser</a>
                </li>
                <li>
                    <a href="projects/caff">Conversion and formatting framework
                        </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Links</h3>
            <ul>
                <li>
                    <a href="http://github.com/jiaqi">Find source code in Github</a>
                </li>
                <li>
                    <a href="http://sourceforge.net/projects/cyclops-group">Project home in
                        sourceforge.net
                    </a>
                </li>
                <li>
                    <a
                        href="http://sourceforge.net/projects/cyclops-group/files">All downloads</a>
                </li>
                <li>
                    About
                    <a href="http://jiaqi.cyclopsgroup.org">Jiaqi</a>
                </li>
                <li>
                    About
                    <a href="http://business.nd.edu/XuyingZhao">Xuying Zhao</a>
                </li>
            </ul>
        </div>
    </div>
</div>