<div>
    <h2>Browse folder: $contentPath</h2>
    <p>
        #if( ! $contents.isRoot )
        <span class="folderLink">
            <a href="../" title="Goto upper level">..</a>
        </span>
        #end
        #foreach($dir in $contents.dirs)
        <span class="folderLink">
            <a href="$dir.name/" title="$dir.description">$dir.name</a>
        </span>
        #end
    </p>
    #if($contents.files.empty)
    <h2>No content is found</h2>
    #else
    <h2>Content</h2>
    <p>
        #foreach($file in $contents.files)
        <span class="fileLink">
            <table border="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="$file.name" title="$file.description">
                            <img src="$file.name?icon.do" border="0"
                                width="60" heigth="60" />
                        </a>
                    </td>
                    <td valign="top">
                        <p>
                            <b>$file.name</b>
                            <br />
                            $file.size bytes
                            <br />
                            <a href="$file.name?download.do">open</a>
                        </p>
                    </td>
                </tr>
            </table>
        </span>
        #end
    </p>
    #end
</div>