<div>
    <h2>Browse folder: $contentPath</h2>
    <p>
        #if( ! $contents.isRoot )
        <span class="folderLink">
            <a href="../" title="Goto upper level">..</a>
        </span>
        #end
        #foreach($dir in $contents.dirs)
        <span class="folderLink">
            <a href="$dir.name/" title="$dir.description">$dir.name</a>
        </span>
        #end
    </p>
    #if($contents.files.empty)
    <h2>No content is found</h2>
    #else
    <h2>Content</h2>
    <p>
        #foreach($file in $contents.files)
        <span class="fileLink">
            <table border="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="$file.name" title="$file.description">
                            #if($file.previewable)
                            <img src="$file.name?thumbnail.do"
                                width="$streaming.iconSize.width"
                                height="$streaming.iconSize.height"
                                border="0" alt="Click to see detail" />
                            #else
                            <img
                                src="$servletRequest.contextPath/type/$file.mimeType?icon.do"
                                border="0" width="$streaming.iconSize.height"
                                height="$streaming.iconSize.height" alt="MIME type: $file.mimeType" />
                            #end
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="$file.name?download.do">$file.name</a>
                    </td>
                </tr>
            </table>
        </span>
        #end
    </p>
    #end
</div>