<h2>User Service Configuration</h2>
<table width="100%">
	<tr>
		<td class="title" colspan="2">User Service Properties</td>
	</tr>
	<form method="post" action="$link.setAction("system.administration.ConfigurationAction").setPage("system,administration,service,User.vm")">
	<input type="hidden" name="service_name" value="UserService"/>
	<input type="hidden" name="conf_key" value="user.implementation"/>
	<input type="hidden" name="conf_key" value="user.interval"/>
	<input type="hidden" name="conf_key" value="user.timeout"/>
	<tr>
		<td>User Implementation:</td>
		<td><input type="text" name="conf_user.implementation" value="$!configuration.getString("user.implementation")" size="40" class="frame"/></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Default value is com.cyclops.tornado.services.user.DefaultUser. User implementation class must implements com.cyclops.tornado.services.user.User interface.</td>
	</tr>
	<tr>
		<td>Backend User Timeout:</td>
		<td>
			<input type="text" name="conf_user.timeout" value="$configuration.getLong("user.timeout", 1800000)" size="8" class="frame"/>
			ms
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Default value is 1800,000. How long system will wait for a signed out user, unit is milisecond.</td>
	</tr>
	<tr>
		<td>User Checking Interval:</td>
		<td>
			<input type="text" name="conf_user.interval" value="$configuration.getLong("user.interval", 1000)" size="8" class="frame"/>
			ms
		</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" class="button" value="Save Changes" name="eventsubmit_doSavevalues"/>
			<input type="submit" class="button" value="Restart Service" name="eventsubmit_doRestart"/>
		</td>
	</tr>
	</form>
	<form method="post" action="$link.setAction("system.administration.ConfigurationAction").setPage("system,administration,service,User.vm")">
	<input type="hidden" name="service_name" value="UserService"/>
	<tr>
		<td colspan="2" class="title">User Listeners</td>
	</tr>
	#foreach($listener in $listeners)
		<tr>
			<td align="right"><input type="checkbox" name="conf_id" value="$listener.confId"/></td>
			<td>$listener.confValue</td>
		</tr>
	#end
	<tr>
		<td>Add New Listener:</td>
		<td><input type="text" name="conf_listener" class="frame" size="40"/></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Listener must implements com.cyclops.tornado.services.user.UserListener interface.</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" class="button" value="Add New" name="eventsubmit_doAddnew"/>
			#if(!$listeners.isEmpty())
				<input type="submit" class="button" value="Delete" name="eventsubmit_doDelete"/>
			#end
		</td>
	</tr>
	</form>
</table>