body {
    max-width: 920px;
    font-family: 'Lucida Grande', 'Bitstream Vera Sans', Verdana, Arial,
        Sans-Serif;
    color: #333333;
    background-color: white;
    border-color: #4B75AD;
}

a:link {
    color: #6699CC;
}

a:visited {
    color: #7987A7;
}

h1,h2,h3,h4,h5 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif
        ;
}

.section h2 {
    color: #FF9934;
    background-color: white;
    border-width: 0px 0px 2px 0px;
    border-style: dashed;
    border-color: #FF9934; font-size : 150%;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

.section p,.section .bodyTable {
    font-size: 11pt;
}

.section .bodyTable tr.a {
    background-color: #F9F9F9;
}

.section .source {
    border-width: 0px;
    background-color: #CCCCCC;
    padding: 0px;
    margin: 10px 6px 6px 10px;
}

.section .source pre {
    position: relative;
    top: -3px;
    left: -3px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    padding: 8px;
    font-size: 9pt;
}

.subsection h3 {
    color: #666666;
    border-width: 0px;
    background-color: white;
}

#banner {
    background-color: #3C83CF;
    border-color: #3C83CF;
    color: white;
}

#organizationLogo img,#projectLogo img {
    margin: 0px;
}

#breadcrumbs {
    background-color: #1772BD;
    border-color: #1772BD;
    border-style: solid;
    color: white;
}

#breadcrumbs a {
    color: white;
    font-weight: bold;
}

#breadcrumbs .separator {
    padding: 0px 10px 0px 10px;
}

#leftColumn {
    background-color: #73A1D6;
    color: white;
    border-width: 0px;
    margin: 0px;
    float: left;
    width: 20%;
}

#navcolumn {
    padding: 5px;
}

#leftColumn h5 {
    background-color: #9ABBE2;
    border-width: 0px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 90%;
}

#leftColumn a {
    color: white;
}

#leftColumn li {
    padding: 3px;
}

#leftColumn #search a {
    display: none;
}

#leftColumn #search form {
    padding: 5px;
}

#bodyColumn {
    background-color: white;
    padding: 10px;
}

#footer {
    background-color: #C4C4C4;
}