body,p,td,th,input,select,textarea {
	font-family: Sans, Verdana;
	font-size: 8pt;
}

body {
	margin: 0px;
}

th {
	text-align: left;
}

.lineBreak {
	height: 2px;
	background-color: #EFEFEF;
	padding: 0px;
}

.subLineBreak {
	height: 1px;
	background-color: #EFEFEF;
	padding: 0px;
}

.waterviewWindowTitle {
	font-weight: bold;
}

.r {
	color: white !important;
}

a img {
	border-width: 0px;
}

#bannerPanel .waterviewSelectedTab,#bannerPanel .waterviewUnselectedTab
	{
	padding: 3 20 3 20;
}

#bannerPanel .waterviewSelectedTab a {
	font-weight: bold;
}