body {
    margin: 0px;
    padding: 0px;
}

h1,h2,h3 {
    color: #0d488e;
    font-weight: normal;
}

a {
    color: #666;
}

a:hover {
    color: black;
}

.reverse {
    color: #999;
    background: black;
}

.reverse a {
    color: #ccc;
}

.reverse a:hover {
    color: white;
}

.jumbotron {
    background-color: transparent;
}

#documentContent {
    background: white url('../images/home_bg.jpg') no-repeat;
}

#documentFooter {
    padding: 10px 6px 40px 6px;    
}