#documentWrapper {
    text-align: center;
}

#documentContent {
    width: 860px;
    margin: 0px auto;
    text-align: left;
}

#contentBanner {
    height: 300px;
    background: url('../images/banner_bg.jpg') no-repeat right;
    color: white;
}

#contentBanner #navigationLinks {
    padding: 120px 600px 10px 30px
}

#contentBanner div.navigationLink {
    width: 220px;
    margin: 10px;
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    filter: alpha(opacity=25);
    opacity: 0.25;
    -moz-opacity:0.25;
    border-radius: .75em;
    -moz-border-radius: .75em;
}

#selectedNavigationLink {
    filter: alpha(opacity=50);
    -moz-opacity: .5 !important;
    opacity: .5 !important;
}

#contentBanner div.navigationLink a:link,#contentBanner div.navigationLink a:visited
    {
    color: black;
    font-weight: bold;
    text-decoration: none;;
    font-weight: bold;
}

#mainContent {
    float: left;
    width: 60%;
}

#sideContent {
    float: right;
    width: 36%;
}

#contentBody h2,#contentBody h3 {
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: #BFBFBF;
}

#mainContent h2,#mainContent h3,#mainContent a:link,#mainContent a:visited
    {
    color: #8196B5;
}

#sideContent h2,#sideContent h3,#sideContent a:link,#sideContent a:visited
    {
    color: #E49107;
}

#contentFooter {
    padding: 6px;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
    border-color: #BFBFBF;;
    border-width: 1px 0px 0px 0px;
}