body {
    margin: 0px;
}

body,input,textarea,th,td,select {
    font-family: "Bitstream Vera Sans", Verdana, Helvetica;
    font-size: 80%;
    color: #7D7C7C;
}

div.clearBreak {
    clear: both;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-weight: normal;
}

img {
    border-width: 0px;
}

#contentBody {
    padding: 10px;
}