a:link, a:visited
{
    color: #999999;
}

div.section a:link, div.section a:visited
{
    color: #333333;
}

div.section table.bodyTable th
{
    background-color: #F7941C;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: red;
    color: white;
}

div.section table.bodyTable
{
    background-color: #F6F6F6;
}

div.section table.bodyTable tr.a
{
    background-color: white;
}

div.section table.bodyTable tr.b
{
    background-color: #FFFBC5;
}

div.section div.sectionTitle
{
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #CACACA;
    text-indent: 28px;
    background: url(../images/big_right.gif) left center no-repeat;
}

div.subsection div.subsectionTitle
{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #CACACA;
    text-indent: 28px;
    background: url(../images/right.gif) left center no-repeat;
    color: #666666;
}

#navigatorBlock table.menu th
{
    background-color: white;
    color: #666666;
}

#navigatorBlock
{
    background-color: #F6F6F6;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #CACACA;
}

#copyrightsBlock
{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #CACACA;
    margin-bottom: 20px;
}

.banner
{
    background-color: #FEC83C;
}