body, td, select, input, li
{
    color: black;
}

a:link, a:visited
{
    color: #3366CC;
}

div.section a:link, div.section a:visited
{
    color: #333333;
}

div.section table.bodyTable th
{
    background-color: #F7941C;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: red;
    color: white;
}

table.menu th
{
    background-color: #0044CC;
    color: white;
}

div.section table.bodyTable
{
    background-color: #F6F6F6;
}

div.section table.bodyTable tr.a
{
    background-color: white;
}

div.section table.bodyTable tr.b
{
    background-color: #EEEEEE;
}

div.section div.sectionTitle
{
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #666666;
    text-indent: 28px;
    background: url(../images/big_right.gif) left center no-repeat;
}

div.subsection div.subsectionTitle
{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #999999;
    text-indent: 28px;
    background: url(../images/right.gif) left center no-repeat;
    color: #666666;
}

#bannerBlock
{
    background-color: #0B4499;
}

#bannerBlock a:link, #bannerBlock a:visited
{
    color: white;
}

#languageBarBlock
{
    background-color: #CCCCCC;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #0044CC;
}

#navigatorBlock
{
    border-color: #0044CC;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}

#copyrightsBlock
{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}