div.section table.bodyTable {
    border-width: 1px;
}
div.section table.bodyTable td {
    border-width: 1px;
}

#bannerBlock
{
    display: none;
}

#navigatorBlock
{
    display: none;
}

#adBlock
{
    display: none;
}

#poweredbyBlock
{
    display: none;
}