body, td, select, input, li {
    color: #666666;
}
div.section table.bodyTable th {
    background-color: #FF6600;
    color: white;
}
div.section table.bodyTable {
    background-color: #DDDDDD;
}
div.section table.bodyTable tr.a {
    background-color: white;
}
div.section table.bodyTable tr.b {
    background-color: #EEEEEE;
}
a:link, a:visited {
    color: #3366CC;
}
div.sectionTitle {
    border-color: #666666;
}
div.subsectionTitle {
    border-color: #666666;
}
#frameBodyTable, #headerSearchCell, #headerLanguageBarCell {
    background-color: #D1DBE4;
}
#frameHeaderCell {
    background-color: #003366;
}
#frameLeftCell {
    background-color: #EFEFEF;
}
#frameLeftCell th {
    background-color: #3366CC;
    color: white;
}
#frameBodyCell, #frameRightCell, #frameBottomCell {
    background-color: white;
}
#frameFooterCell {
    background-color: black;
}
