.hidewhenprint, .banner
{
    display: none;
}

#bodyBlock
{
    display: block !import;
}

.section .sectionTitle, .subsection .subsectionTitle
{
	text-indent: 0px !important;
	background-image: none !important;
}