body, td, th, select, input, li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}
img {
    border-width: 0px;
}
th {
    font-weight: bold;
    text-align: left;
    padding: 3px;
}
form {
    padding: 0px;
    border: 0px;
    margin: 0px;
}



div.section table.bodyTable {
    width: 100%;
}
div.section table.bodyTable td {
    padding: 3px;
}
div.section {
    padding: 10px;
}
#frameBodyTable {
    width: 100%;
}
#frameLeftCell li {
    list-style-image: url(../images/collapsed.gif);
    line-height: 18px;
}
#frameLeftCell li.expanded {
    list-style-image: url(../images/expanded.gif);
}
div.sectionTitle {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

div.subsectionTitle {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    margin-bottom: 10px;
}