body {
	background-color: white;
	color: black;
}

h2 {
	color: #FF9300;
}

#bodyWrapper {
	background-color: white;
	max-width: 860px;
	width: expression(document.body.clientWidth > 860 ? "860px" : "auto");
}

#bannerPanel {
	background-color: #003399;
	color: white;
}

#bannerPanelRight {
	background: url('banner_right.gif') no-repeat;
}

table.waterviewTable th {
	background-color: #F0EEDE;
	color: black;
	border-style: solid;
	border-color: #CDCABB;
	border-width: 1px;
}

table.waterviewTable tr.b {
	background-color: #F7F7F7;
}

table.waterviewTable .title {
	background-color: #EEEEEE;
}

table.waterviewTable td.input {
	
}

.lineBreak,.subLineBreak {
	background-color: #2E52AF;
}

.waterviewSelectedTab {
	padding: 3 20 3 20;
	background-color: #2E52AF;
}

.waterviewUnselectedTab {
	padding: 3 20 3 20;
}

.waterviewWindow {
	background-color: #5582D2
}

.waterviewWindow .waterviewWindowHeader {
	background-color: #1F56C0;
}

.waterviewWindow .waterviewWindowTitle {
	color: white;
}

.waterviewWindowBody {
	background-color: #EDF2FC;
}

#leftPanel {
	background-color: #8CAAE6;
	padding: 5px;
}

#bodyPanel .waterviewWindow {
	background-color: white;
}

#bodyPanel .waterviewWindowBody {
	background-color: white;
}

#bodyPanel .waterviewWindow .waterviewWindowHeader {
	background-color: white;
	border-width: 0 0 2 0;
	border-color: #0B73DB;
	border-style: solid;;
	border-width: 0 0 2 0;
}

#bodyPanel .waterviewWindow .waterviewWindowTitle {
	color: #0B73DB;
}

input.waterviewFormButton {
	background-color: #51A751;
	border-color: #51A751;
	border-width: 2px;
	border-style: outset;
	color: white;
	font-weight: bold;;
}

input.waterviewFormInput {
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

input.waterviewFormInvalidInput {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}