body {
	background-color: white;
	color: #676767;
}

h2 {
	color: #FF9300;
}

#bodyWrapper {
	background-color: white;
}

#bannerPanel {
	background-color: #4189D5;
	color: white;
}

table.waterviewTable th {
	background-image: url('bar_bg_up.gif');
	color: white;
	border-style: solid;
	border-color: #295DB4;
	border-width: 1px;
}

table.waterviewTable tr.b {
	background-color: #E6F4FF;
}

table.waterviewTable .title {
	background-color: #EEEEEE;
}

table.waterviewTag td.input {
	
}

.lineBreak,.subLineBreak {
	background-color: #2662B9;
}

.waterviewSelectedTab {
	padding: 2 16 2 16;
	background-color: #2662B9;
}

.waterviewUnselectedTab {
	padding: 2 16 2 16;
}

.waterviewViewWrapper {
	background-color: #6291CA;
}

.waterviewViewWrapper .waterviewViewHeader {
	background-image: url('bar_bg_down.gif');
}

.waterviewViewWrapper .waterviewViewTitle {
	color: white;
}

.waterviewViewBody {
	background-color: white;
}

#leftPanel {
	background-color: #EEEEEE;
}

#bodyPanel .waterviewViewWrapper {
	background-color: white;
}

#bodyPanel .waterviewViewWrapper .waterviewViewHeader {
	background-image: none;
	border-width: 0 0 2 0;
	border-color: #0B73DB;
	border-style: solid;;
	border-width: 0 0 2 0;
}

#bodyPanel .waterviewViewWrapper .waterviewViewTitle {
	color: #0B73DB;
}

input.waterviewFormButton {
	background-image: url('bar_bg_up.gif');
	border-color: #295DB4;
	border-width: 1px;
	border-style: solid;
	color: white;
	font-weight: bold;;
	color: white
}

input.waterviewFormInput {
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

input.waterviewFormInvalidInput {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}