<div>
    <h2>Welcome to Waterview</h2>
    <p>request = $request, cookies = $request.cookies</p>
    <p>response = $response</p>
    <p>context = $context</p>
    <p>page = $page</p>
    <p>renderer = $renderer</p>
</div>