<![CDATA[
#macro(navigationLink $link $linkTitle)
    #if($link == $htmlPath)
        <div class="navigationLink"
            id="selectedNavigationLink">
            <a href="$basedir/$link">$linkTitle</a>
        </div>
    #else
        <div class="navigationLink">
            <a href="$basedir/$link">$linkTitle</a>
        </div>
    #end
#end
]]>
#navigationLink("index.html" "About Me")
#navigationLink("blog.html" "Blog")
#navigationLink("resume.html" "Resume")
#navigationLink("photos.html" "Photos")
#navigationLink("forum.html" "Leave Message")