body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
}
input, select, option, textarea {
	font-family: Courier New, Courier, mono;
	font-size: 8pt;
}
input.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border-style: solid;
	border-width: 1px;
	border-color: #CDCDCD;
	background-color: #EEEEEE;
	color: black;
}
input.frame, textarea.frame {
	border-style: solid;
	border-width: 1px;
	border-color: #CDCDCD;
}
td.bottom {
	text-align: right;
	background-image: url('images/bottom_bg.gif');
	padding: 3px;
}
a:link, a:visited {
	color: #0064C7;
	text-decoration: underline;
}