<a href="$link.absolute('/datamung')">Datamung</a>
&gt;

==How is it done?

Datamung is built on [http://aws.amazon.com/swf|AWS&nbsp;Simple&nbsp;Workflow],
which provides strong guarantee that steps in predefined workflow is
executed during time. When Datamung executes a workflow that backs up
database, the workflow runs in Datamung's own AWS account, while the
tasks that touch users resource such as replicating database, launching
EC2 instance and uploading result to S3 run in user's AWS account with
AWS credentials user provides.

==High level diagram

Following drawing
shows an overview of components in
Datamung.

<p>
    <img
        src="https://docs.google.com/drawings/d/1BinI_Wnnqt-ConuBWv3IQ_c54PjYzt_vKhEyu3v6uDw/pub?w=640&amp;h=480" />
</p>

With layout above, Datamung runs one of predefined workflows to backup
database. Following sections elaborate each of these workflows.

==Workflows

These are several important workflow definitions defined with
Simple Workflow.

===Direct export data workflow

The workflow defines
cross-account IAM role,
launches EC2 instance in user's AWS account,
which executes mysqldump
command against given MySQL instance. After the
work is done or fails,
workflow terminates EC2 instance and delete
cross-account IAM role. The
source code of workflow definition is
[https://github.com/jiaqi/datamung/blob/master/datamung-swf/src/main/java/org/cyclopsgroup/datamung/swf/flows/JobWorkflowImpl.java|here].

<p>
    <img
        src="https://docs.google.com/drawings/d/1RsqNIODbw449-wddiQ3U6Nef00HReIc2u3PnqAra_yQ/pub?w=667&amp;h=656" />
</p>

Since the workflow is driven by AWS Simple Workflow, every step is bound
with timeout and retried up failure. The overall workflow execution is
bound with timeout as well.

===Convert snapshot workflow

This workflow
converts an RDS snapshot into MySQL dump in S3, by restoring snapshot
into an RDS instance, run direct export data workflow against it and
terminate RDS instance. Source code is
[https://github.com/jiaqi/datamung/blob/master/datamung-swf/src/main/java/org/cyclopsgroup/datamung/swf/flows/ExportSnapshotWorkflowImpl.java|here].

<p>
    <img
        src="https://docs.google.com/drawings/d/1VRKHG55H8a9_Xooq-OegZsPmgJFoJ4_zU8NFoYR6Ukw/pub?w=640&amp;h=480" />
</p>

===Export instance workflow

The export instance workflow is the top level
workflow, that either invokes direct export data workflow, or take
snapshot of database instance to backup, run convert snapshot workflow
and delete snapshot. The source code is
[https://github.com/jiaqi/datamung/blob/master/datamung-swf/src/main/java/org/cyclopsgroup/datamung/swf/flows/ExportInstanceWorkflowImpl.java|here].

<p>
    <img
        src="https://docs.google.com/drawings/d/1hOhZ3k1ouaf-uOBUTBUpyvzwCHKL6zROhx37uRLoYTI/pub?w=640&amp;h=480" />
</p>
