<div>
    <div id="sideContent">
        <h2>Join Discussion</h2>
        <a href="http://wiki.cyclopsgroup.org/discussion">Come in</a>
    </div>
    <div id="mainContent">
        <h2>Recent Posts</h2>
        <script
            src="http://feeds.feedburner.com/cyclopsgroup-recent-threads?format=sigpro"
            type="text/javascript"></script>
        <noscript>
            <p>
                Subscribe to RSS headline updates from:
                <a
                    href="http://feeds.feedburner.com/cyclopsgroup-recent-threads"></a>
                <br />
                Powered by FeedBurner
            </p>
        </noscript>
    </div>
</div>