<div>
    <div id="sideContent">
        <h2>Find me in</h2>
        <table cellspacing="16">
            <tr>
                <td>
                    <a href="http://blog.cyclopsgroup.org" title="Blog">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/blogger_32.png" />
                    </a>
                </td>
                <td>
                    <a href="http://facebook.com/guojiaqi" title="Facebook">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/facebook_32.png" />
                    </a>
                </td>
                <td>
                    <a href="http://twitter.com/jqguo" title="Twitter">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/twitter_32.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.linkedin.com/in/jiaqi" title="Profile">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/linkedin_32.png" />
                    </a>
                </td>
                <td>
                    <a href="http://crazytmac.deviantart.com" title="Photo Gallery in DeviantArt">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/deviantart_32.png" />
                    </a>
                </td>
                <td>
                    <a
                        href="https://plus.google.com/photos/105072496396884725624/albums"
                        title="Photo Archive in Picasaweb">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/picasa_32.png" />
                    </a>
                </td>
            </tr>
        </table>
        <h2>Blog updates</h2>
        <script src="http://feeds.feedburner.com/jiaqiblog?format=sigpro"
            type="text/javascript"></script>
        <noscript>
            <p>
                Subscribe to RSS headline updates from:
                <a href="http://feeds.feedburner.com/jiaqiblog"></a>
                <br />
                Powered by FeedBurner
            </p>
        </noscript>
        <h2>My Family</h2>
        <ul>
            <li>
                <a href="http://thecoolestgirlontheplanet.blogspot.com/">
                    Yilin, the coolest girl on the planet
                </a>
            </li>
            <li>
                <a
                    href="http://business.nd.edu/Faculty_Directory/XuyingZhao/">
                    Xuying's home page
                </a>
            </li>
        </ul>
        <h2>Ongoing projects</h2>
        <ul>
            <li>
                <a href="http://wiki.cyclopsgroup.org/jmxterm">Jmxterm</a>
                - Interactive command line JMX client
            </li>
            <li>
                <a href="http://www.cyclopsgroup.org/projects/jcli">Jcli</a>
                - Annotation based command line parser
            </li>
        </ul>
        <div align="right">
            <a href="https://github.com/jiaqi">More..</a>
        </div>
    </div>
    <div id="mainContent">
        <h2>About Me</h2>
        <p>
            Named &#37101;&#20339;&#29734;(pronouced as Jar Key), I have
            been a Java software engineer for over a decade in
            logistics, finance and cloud computing industries. My recent
            work varies from system that processes multi-million dollar
            transactions a day, system that deploys software to million
            Linux hosts, to open source projects like
            <a href="../../projects/jmxterm">Jmxterm</a>
            and
            <a href="../../projects/jcli">JCli</a>
            .
        </p>
        <p>
            Aside from work, I'm intrigued by movie, photography, music
            and painting.
            <a href="http://www.cyclopsgroup.org">This website</a>
            is a portfolio of my non-professional work.
        </p>
        <p>
            I hate to make this site look serious. Therefore here's a
            line(one of my favorite) from Futurama.
        </p>
        <h2>"Do Things Right"</h2>
        <p style="text-align: center">
            GOD
        </p>
        <p style="margin-left: 80px">
            Bender, being God isn't easy. If you do too much,
            people
            get dependent on you.
            And if you do nothing, they lose
            hope. You have
            to use a light
            touch, like a safecracker or a
            pickpocket.
        </p>
        <p style="text-align: center">
            BENDER
        </p>
        <p style="margin-left: 80px">Or a guy who burns down a bar for the insurance
            money.
        </p>
        <p style="text-align: center">
            GOD
        </p>
        <p style="margin-left: 80px">

            Yes, if he makes it look like an electrical thing.
            <b>If you
                do things right, people won't be sure you've done
                anything
                at all
            </b>
            .
        </p>
        <p>
            <small>
                --
                <a
                    href="http://www.imsdb.com/transcripts/Futurama-Godfellas.html">
                    Godfellas, Futurama
                </a>
            </small>
        </p>
        <p>
            <img
                src="http://farm4.static.flickr.com/3474/3839219124_16a46da337_o.jpg"
                alt="Futurama - Godfellas" />
        </p>
    </div>
</div>