<div>
    <div id="sideContent">
        <h2>Random Photos</h2>
        <!-- Start of Flickr Badge -->
        <style type="text/css">
            .flickr_badge_image img {
            border: 1px solid
            #AAA;
            float: left;
            margin: 6px; !important;
            }
        </style>
        <![CDATA[
        #set($flickrUrl="http://www.flickr.com/badge_code_v2.gne?count=9&display=random&size=s&layout=x&source=user_tag&user=68975111%40N00&tag=photography")
        ]]>
        <div id="flickr_badge_uber_wrapper">
            <div id="flickr_badge_wrapper">
                <script id="flickr_badge_script" type='text/javascript'
                    src='${flickrUrl}'></script>
            </div>
        </div>
        <script language="javascript">
            // <![CDATA[
            function refreshElement(id) {
              var ele = $('#' + id);
              var content = ele.html();
              ele.html('');

              alert(content);
              ele.html(content);
            }
        // ]]>
        </script>
        <table width="100%">
            <tr>
                <td>
                    <a href="#"
                        onclick="refreshElement('flickr_badge_wrapper'); return false;">Refresh</a>
                </td>
                <td align="right">
                    <a href="http://crazytmac.deviantart.com/gallery">See all...</a>
                </td>
            </tr>
        </table>

        <!-- End of Flickr Badge -->
        <h2>Framed Photos</h2>
        <div align="center">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                width="200" height="690" id="badge" align="middle">
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="movie"
                    value="http://www.imagekind.com/flash/ban_vert.swf?guid=44be3d2f-ae2a-4940-8e98-a9d176d3a79d&rand=true" />
                <param name="quality" value="high" />
                <param name="wmode" value="transparent" />
                <param name="bgcolor" value="#ffffff" />
                <param name="menu" value="false" />
                <embed
                    src="http://www.imagekind.com/flash/ban_vert.swf?guid=44be3d2f-ae2a-4940-8e98-a9d176d3a79d&rand=true"
                    quality="high" wmode="transparent" bgcolor="#ffffff"
                    width="200" height="690" name="badge" align="middle"
                    allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
                    pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
            </object>
        </div>
    </div>
    <div id="mainContent" style="width:540px">
        <h2>Galleries</h2>
        <table cellspacing="16">
            <tr>
                <td>
                    <a href="http://crazytmac.deviantart.com" title="Photo Gallery in DeviantArt">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/deviantart_32.png" />
                    </a>
                </td>
                <td>
                    <a
                        href="https://plus.google.com/photos/105072496396884725624/albums"
                        title="Photo Archive in Picasaweb">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/picasa_32.png" />
                    </a>
                </td>
                <td>
                    <a href="http://www.flickr.com/guojiaqi" title="Some photos in Flickr">
                        <img
                            src="http://www.cyclopsgroup.org/images/networks/flickr_32.png" />
                    </a>
                </td>
            </tr>
        </table>
        <h2>Taking Photos in Seattle</h2>
        <p>
            Seattle is a beautiful city. It's
            hard to live in Seattle
            without loving photography.
            I upgraded my camera the moment I
            received the
            first pay
            check.
        </p>
        <p>
            <a
                href="http://www.amazon.com/Olympus-Digital-14-45mm-3-5-5-6-40-150mm/dp/B000BK39N4">
                <img
                    src="http://ecx.images-amazon.com/images/I/51PVFVRBHVL._SL500_AA280_.jpg"
                    alt="Olympus Evolt E500" />
            </a>
        </p>
        <p>My camera isn't fancy. Olympus Evolt E500 Digital SLR with
            14-45mm and 40-150mm Zuiko lenses. It has pitfalls:
            auto
            focusing is buggy during time, occasionally cheating;
            slow
            exposure shows noise worse than competitors. However served
            with enough patience, it does what I need.
        </p>
        <iframe width="520" height="360" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"
            src="http://www.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=106941097698600281540.00047a1a7cbb88d3acb17&amp;ll=47.612875,-122.349243&amp;spn=0.04166,0.089264&amp;z=13&amp;output=embed"></iframe>
        <br />
        <small>
            View
            <a
                href="http://www.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=106941097698600281540.00047a1a7cbb88d3acb17&amp;ll=47.612875,-122.349243&amp;spn=0.04166,0.089264&amp;z=13"
                style="color:#0000FF;text-align:left">Seattle Photos</a>
            in a larger map
        </small>
    </div>
</div>