#h2("Edit Product Category" "admin")
<table width="100%">
	<form method="post" action="$link.setAction("CategoryAction").setPage("admin,EditCategory.vm")">
	<tr>
		<td colspan="2">
<table>
	<tr>
		<td>&nbsp;</td>
		<td><input type="radio" name="category_id" value="-1" checked id="rootParentCheck"/></td>
		<td colspan="31">Root Product Category</td>
	</tr>
	#foreach($category in $categories)
		#set($depth = $category.depth + 2)
		#set($rest = 32 - $depth)
    	<tr>
    		#foreach($i in [1..$depth])<td>&nbsp;</td>#end
    		<td><input type="radio" name="category_id" value="$category.categoryId"></td>
    		<td colspan="$rest"><a href="$link.setPage("admin,CategoryDetail.vm").addQueryData("category_id", $category.categoryId)" title="$category.description">#$category.categoryCode</a></td>
    	</tr>
	#end
</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="bottom">
			<input type="submit" class="button" value="Add Category under Selected" onclick="this.form.action='$link.setPage("admin,AddCategory.vm")'; this.form.method='get';"/>
			<input type="submit" class="button" value="Delete Seleted" name="eventsubmit_doDelete" onclick="return confirm('Deleting is unrevokable, are you sure to delete seleced category?')"/>
		</td>
	</tr>
	</form>
</table>