<div>
    <div id="mainContent">
        <h2>About me</h2>
        <p>
            My name is Jiaqi Guo and I was born and grew up in a small town,
            Yanliang, in Xi'an, China. In the last 10 years I've moved across
            Zhejiang, Shanghai in China, Texas, Virgina and Washington in USA.
            Right now I work in Seattle and live in Bellevue, Washington.
        </p>
        <p>
            I'm a big fan of Java software development and open source projects
            while my interest towards software is not limited to Java.
            <a href="http://www.cyclopsgroup.org">CyclopsGroup</a>
            is my code portfolio.
        </p>
    </div>
    <div id="sideContent">
        <h2>Latest updates</h2>
        <p>
            [04/06/2007] Calling Google Map API to display photos.
            <a href="photos.html">Check it out</a>
            , you won't be disappointed.
        </p>
        <p>
            [12/15/2006] Website is completely redesigned. New theme is inspired
            by
            <a href="http://www.deviantart.com/deviation/40788653/">
                intravero
            </a>
            from
            <a href="http://deviantart.com">deviantart.com</a>
            .
        </p>
        <h2>Links</h2>
        <ul>
            <li>
                <a href="http://cyclopsgroup.org">Back to cyclopsgroup.org</a>
            </li>
            <li>
                <a href="http://utd.edu/~xuying.zhao">Xuying's home page</a>
            </li>
            <li>
                <a href="http://chinajoeblack.spaces.live.com">
                    Crazy TMac's MSN space
                </a>
            </li>
        </ul>
    </div>
</div>