<div>
    <div id="mainContent">
        <h2>Photos</h2>
        #set($rssurl="http://api.flickr.com/services/feeds/photos_public.gne?id=68975111@N00&tags=photography&format=rss_200")
        <p>
            <a href="http://flickr.com/photos/guojiaqi/tags/photography/">
                http://flickr.com/photos/guojiaqi/tags/photography/
            </a>
            ,
            <a href="$rssurl">RSS</a>
        </p>
        #set($rss=$xmltool.parseUrl($rssurl))
        #set($items=$rss.selectNodes("//channel/item"))
        #set($groups=$xmltool.groupBy($items, 3))
        <table width="100%" cellspacing="20" border="0">
            #foreach($group in $groups)
            <tr>
                #foreach($item in $group)
                <td>
                    <a href="$item.elementText('link')">
                        #set($thumbnail=$item.selectSingleNode('media:thumbnail'))
                        <img src="$thumbnail.attribute('url').value" border="0"
                            width="$thumbnail.attribute('width').value"
                            height="$thumbnail.attribute('height').value"
                            alt="$item.elementText('title') from flickr.com" />
                    </a>
                </td>
                #end
            </tr>
            #end
        </table>
    </div>
    <div id="sideContent">
        <h2>Links for more</h2>
        <ul>
            <li>
                <a href="http://flickr.com/photos/jiiaqi">
                    More photos from flickr.com
                </a>
            </li>
            <li>
                <a href="http://public.fotki.com/crazytmac">
                    Photos from fotki.com
                </a>
            </li>
        </ul>
        #set($rssurl="http://picasaweb.google.com/data/feed/base/user/crazytmac?category=album&alt=rss")
        <h2>
            Albums at
            <a href="http://picasaweb.google.com/crazytmac">Google Picasa</a>
        </h2>
        #set($rss=$xmltool.parseUrl($rssurl))
        #set($items=$rss.selectNodes("//channel/item"))
        <ul>
            #foreach($item in $items)
            <li>
                <a href="$item.elementText('link')">
                    $item.elementText("title")
                </a>
            </li>
            #end
        </ul>
        <p>
            <a href="$rssurl">RSS</a>
        </p>
    </div>
</div>