<div>
    <div id="mainContent">
        <h2>Resume</h2>
        <h3>
            <a name="Summary">Summary</a>
        </h3>
        <ul>
            <li>
                Extensive knowledge of Java open source as well as JavaEE.
                Strong self motivation to pursue the cutting-edge technology,
                never stop learning. Java Open Source guru.
            </li>
            <li>
                Participated in many java open source projects. Founder of Java
                open source software foundation www.cyclopsgroup.org.
            </li>
            <li>
                Experienced in full lifecycle of software development including
                requirement analysis, architect, development, code reviewing,
                testing, supporting, and QA.
            </li>
            <li>
                Good team player and leader, good at helping the team achieve
                the best performance rather than working alone.
            </li>
            <li>
                Good at developing in an XP way with automatic and continuous
                testing, documentation, integration and distribution support.
            </li>
            <li>Experienced in payment and logistics industry.</li>
            <li>
                XP practicer. Experienced in automatic and continuous testing,
                documentation, integration and releasement.
            </li>
            <li>SCJP and MCSD certificated.</li>
        </ul>
        <h3>
            <a name="TechnicalSkills">Technical Skills</a>
        </h3>
        <h4>
            <a name="Java">Java</a>
        </h4>
        <ul>
            <li>
                Expert of Maven, Springframework, Hibernate, Velocity, Avalon,
                Drools, Plexus, Jetty, Tomcat, Ant and Turbine. Strong hands-on
                knowledge JBPM, Werkflow, Jess, Struts, Jetspeed, Jelly, Mina,
                Torque, Axis etc.
            </li>
            <li>
                Seven years industry experience of JavaEE development with JSP,
                Servlet, EJB and JMS, etc. Empirical experience with Weblogic,
                JBOSS and SunONE products.
            </li>
            <li>
                Expert of Java web application/portal framework. Architect of
                web application software mainframe in two companies in past.
            </li>
            <li>
                Owner of several java open source projects in SourceForge (
                http://www.cyclopsgroup.org )
            </li>
            <li>
                Working with WSAD, Eclipse, JBuilder and IDEA Intellij.
                Experienced in writing Eclipse plugin.
            </li>
            <li>
                Active Java open source communities(including Apache)
                participator
            </li>
        </ul>
        <h4>
            <a name="WebDevelopment">Web Development</a>
        </h4>
        <ul>
            <li>
                Efficient HTML/Javascript/AJAX writer and web designer. Designed
                following websites: http://www.cyclopsgroup.org ,
                http://www.zope.org/Members/joeblack,
                http://www.goldsgym.com.cn, and http://www.agrosquare.com
            </li>
            <li>Using PhotoShop and GIMP without any trouble.</li>
        </ul>
        <h4>
            <a name="Database">Database</a>
        </h4>
        <ul>
            <li>
                Hands-on experienced on Oracle, MySQL, HypersonicSQL and MSSQL
                databases.
            </li>
            <li>
                Expert in Java O-R mapping projects and DB tools including
                Hibernate, Apache Torque and Apache OJB.
            </li>
            <li>
                Familiar with several CA data warehouse products including
                Repository, DecisionBase, Forrest and Tree, InfoBeacon, Harvest,
                Portal and ERWin, etc.
            </li>
        </ul>
        <h4>
            <a name="IndustryExperience">Industry Experience</a>
        </h4>
        <ul>
            <li>Hands-on payment/financial system knowledge</li>
            <li>
                Logistic: Planning, scheduling, warehouse and related
                optimization.
            </li>
            <li>
                Experienced in leading 3 ~ 10 person team, under XP methodology.
            </li>
            <li>ERP and CRM system development experience</li>
        </ul>

        <h4>
            <a name="OtherSkills">Other Skills</a>
        </h4>
        <ul>
            <li>Efficient XML/XSLT/Schema/DTD manipulator</li>
            <li>Some Python, ZOPE and PLONE development experience</li>
            <li>Some Perl, C++, VB/ASP, ActiveX development experience.</li>
        </ul>
        <h3>
            <a name="WorkingExperiance">Working Experience</a>
        </h3>
        <h4>
            <a name="AmazonCom">Amazon.com</a>
        </h4>
        <p>
            4/2005 ~ the present. Seattle, WA. Tech lead. Payment transaction
            and collection systems.
        </p>
        <p>- Responsibility:</p>
        <ul>
            <li>Lead and mentor the team</li>
            <li>Key software architect and development</li>
            <li>Support and revise numerous systems</li>
        </ul>

        <p>- Major technology</p>
        <ul>
            <li>
                Web Service, Springframework, Hibernate, ANT, JavaEE, Jetty and
                Mina
            </li>
            <li>Perl and Shell scripting, configuration management</li>
            <li>Amazon infrastructure</li>
        </ul>

        <h4>
            <a name="EvaviInc">Evavi Inc.</a>
        </h4>
        <p>
            4/2004~4/2006. Dallas, TX. Tech lead. Manufacturing and scheduling
            optimization systems for logistics and retail industries.
        </p>
        <p>- Responsibility:</p>
        <ul>
            <li>Lead and mentor the team</li>
            <li>Key software architect and development</li>
        </ul>

        <p>- Major technology</p>
        <ul>
            <li>
                Avalon/Plexus, Hibernate, Drools, Maven, Jelly/Marmalade, Jess,
                Drools, Werkflow, JBPM, Jasperreports and JGroup
            </li>
            <li>Cruisecontrol, Anthill and Continuum with Ant and Maven</li>
            <li>Weblogic, JBOSS and Tomcat</li>
        </ul>

        <h4>
            <a name="vTradExInformationTechnology">
                vTradEx Information Technology
            </a>
        </h4>
        <p>
            3/2001~7/2003. Shanghai, China. Sr. Software Consultant of
            transportation, storage and scheduling optimization systems.
        </p>
        <p>- Responsibility</p>
        <ul>
            <li>Lead and mentor the team</li>
            <li>Key software architect and development</li>
            <li>Project management</li>
            <li>Quality assurance</li>
        </ul>
        <p>- Marjor technology</p>
        <ul>
            <li>Turbine, Torque, Maven, Avalon, Drools, Jetspeed and EJB</li>
            <li>CruiseControl with Ant and Maven</li>
            <li>Tomcat and Jboss</li>
            <li>CA datamining products</li>
            <li>ILog products</li>
        </ul>

        <h4>
            <a name="EigenetSoftware">Eigenet Software</a>
        </h4>
        <p>
            7/2000~3/2001. Shanghai, China. Software Engineer of ERP and CRM
            systems for Microelectronics manufacturers.
        </p>
        <p>- Responsibility:</p>
        <ul>
            <li>Product management</li>
            <li>Python and Java ERP software development</li>
        </ul>
        <p>- Major Technology</p>
        <ul>
            <li>J2EE, XMLRPC</li>
            <li>ZOPE and Python</li>
        </ul>

        <h3>
            <a name="Education">Education</a>
        </h3>
        <h4>University of Texas in Dallas</h4>
        <p>Dallas, TX, 9/2005 ~ 4/2006</p>
        <ul>
            <li>GPA 4.0</li>
        </ul>
        <h4>Zhejiang University</h4>
        <p>Hangzhou, China. Time: 9/1996~7/2000</p>
        <ul>
            <li>Top 5 universities in China</li>
            <li>Bachelor of EE,</li>
            <li>Top 10% in class.</li>
            <li>Years of scholarship.</li>
        </ul>

        <h3>
            <a name="TrainingAndAward">Training and Award</a>
        </h3>
        <ul>
            <li>
                <b>SCJP</b>
                : Sun Certificated Java Professional. 5/2003
            </li>
            <li>
                Professional training for CA data warehouse products. 2/2002
            </li>
            <li>Training for Project Management. 11/2001</li>
            <li>
                <b>MCSD</b>
                : Microsoft Certificated Professional Solution Developer.9/2001
            </li>
            <li>Oracle9i JDeveloper training. 7/2001</li>
            <li>China Senior Programmer. 7/2000</li>
        </ul>
    </div>
    <div id="sideContent">
        <h2>Content</h2>
        <ol>
            <li>
                <a href="#Summary">Summary</a>
            </li>
            <li>
                <a href="#TechnicalSkills">TechnicalSkills</a>
                <ol>
                    <li>
                        <a href="#Java">Java</a>
                    </li>
                    <li>
                        <a href="#WebDevelopment">Web Development</a>
                    </li>
                    <li>
                        <a href="#Database">Database</a>
                    </li>
                    <li>
                        <a href="#IndustryExperience">Industry Experience</a>
                    </li>
                    <li>
                        <a href="#OtherSkills">Other Skills</a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#WorkingExperience">Working Experience</a>
                <ol>
                    <li>
                        <a href="#AmazonCom">Amazon.com</a>
                    </li>
                    <li>
                        <a href="#EvaviInc">Evavi Inc.</a>
                    </li>
                    <li>
                        <a href="#vTradExInformationTechnology">
                            vTradEx Information Technoloty
                        </a>
                    </li>
                    <li>
                        <a href="#EigenetSoftware">Eigenet Software</a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#Education">Education</a>
            </li>
            <li>
                <a href="#TrainingAndAward">Training and Award</a>
            </li>
        </ol>
        <h2>Downloads</h2>
        <table cellspacing="10">
            <tr>
                <td>
                    <a href="resume.txt">
                        <img src="images/text.png" alt="Download Text resume" />
                    </a>
                </td>
                <td>
                    <a href="resume.pdf">
                        <img src="images/pdf.png" alt="Download PDF resume" />
                    </a>
                </td>
                <td>
                    <a href="resume.doc">
                        <img src="images/word.png" alt="Download Word resume" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>