name: Maven release snapshot

on:
  workflow_call:
    secrets:
      awsAccessKeyId:
        required: true
      awsSecretKey:
        required: true

jobs:
  shared_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Java8
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Maven cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-
      - name: Maven
        run: mvn --batch-mode --update-snapshots verify package site deploy site:deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.awsAccessKeyId }}
          AWS_SECRET_KEY: ${{ secrets.awsSecretKey }}
          AWS_DEFAULT_REGION: "us-east-1"

